/* line 3, ../../sass/login/custom-login.scss */
body.login {
  background-color: #00598C;
}
/* line 7, ../../sass/login/custom-login.scss */
body.login #login h1 a {
  background-image: url("../../assets/images/logo-idiomasgc-white.png");
  height: 80px;
  background-size: contain;
  width: 70%;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 0px;
}
/* line 17, ../../sass/login/custom-login.scss */
body.login #login .message {
  margin-top: 10px;
}
/* line 20, ../../sass/login/custom-login.scss */
body.login #login #login_error {
  margin-top: 10px;
}
/* line 23, ../../sass/login/custom-login.scss */
body.login #login #loginform {
  box-shadow: 0 0 3px #D7D7D7;
}
/* line 25, ../../sass/login/custom-login.scss */
body.login #login #loginform #wp-submit {
  background: #F8B151;
  color: #047398;
  text-shadow: none;
  box-shadow: none;
  border-color: #F8B151;
}
/* line 31, ../../sass/login/custom-login.scss */
body.login #login #loginform #wp-submit:hover {
  background: #00598C;
  border-color: #00598C;
  color: #F8B151;
}
/* line 39, ../../sass/login/custom-login.scss */
body.login #login #nav a {
  color: #fff;
}
/* line 41, ../../sass/login/custom-login.scss */
body.login #login #nav a:hover {
  color: #F8B151;
}
/* line 47, ../../sass/login/custom-login.scss */
body.login #login #backtoblog a {
  color: #fff;
}
/* line 49, ../../sass/login/custom-login.scss */
body.login #login #backtoblog a:hover {
  color: #F8B151;
}
/* line 55, ../../sass/login/custom-login.scss */
body.login #login .privacy-policy-page-link a {
  text-decoration: none;
  color: #fff;
}
/* line 58, ../../sass/login/custom-login.scss */
body.login #login .privacy-policy-page-link a:hover {
  color: #F8B151;
}
