@import "../variables-site/colors";
@import "../mixins/mixins-master";
body.login {
    background-color: $azul;
    #login {
        h1 {
            a {
                background-image: url('../../assets/images/logo-idiomasgc-white.png');
                height: 80px;
                background-size: contain;
                width: 70%;
                background-repeat: no-repeat;
                background-position: center center;
                margin-bottom: 0px;
            }
        }
        .message {
            margin-top: 10px;
        }
        #login_error {
            margin-top: 10px;
        }
        #loginform {
            box-shadow: 0 0 3px #D7D7D7;
            #wp-submit {
                background: $amarillo;
                color: $azul_light;
                text-shadow: none;
                box-shadow: none;
                border-color: $amarillo;
                &:hover {
                    background: $azul;
                    border-color: $azul;
                    color: $amarillo;
                }
            }
        }
        #nav {
            a {
                color: #fff;
                &:hover {
                    color: $amarillo;
                }
            }
        }
        #backtoblog {
            a {
                color: #fff;
                &:hover {
                    color: $amarillo;
                }
            }
        }
        .privacy-policy-page-link {
            a {
                text-decoration: none;
                color: #fff;
                &:hover {
                    color: $amarillo;
                }
            }
        }
    }
}