body {
    &.home {
        .site-content {
            margin: auto 0px 30px;
            padding-top: 125px;
            @media (min-width: 768px) {
                padding-top: 109px;
            }
            @media (min-width: 992px) {
                padding-top: 119px;
            }
        }
    }
    .site {
        max-width: $max_width;
        margin: auto;
        .container-fluid {
            max-width: $max_width;
            margin: auto;
        }
    }
    .site-content {
        max-width: $max_width;
        margin: auto 0px 25px;
        padding-top: 109px;
        @media (min-width: 992px) {
            padding-top: 119px;
        }
    }
    a,
    button,
    a:hover {
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        outline: 0;
    }
    .post-password-form {
        width: 100%;
        padding: 0px 15px;
        margin-top: 30px;
        p {
            font-family: 'ralewaylight';
        }
        input {
            &[type="submit"] {
                font-family: 'texgyreadventorregular';
                background: $amarillo;
                color: $azul;
                width: 120px;
                max-width: 100%;
                border: none;
                padding: 2px 5px 5px;
                font-size: 17px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}