.template-error-404 {
    .container-error-404 {
        margin-top: 25px;
        .cta-back-error-404 {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
        }
        .container-general-info-error-404 {
            margin-top: 20px;
            @media (min-width: 768px) {
                padding: 40px 0px;
            }
            @media (min-width: 992px) {
                max-width: 800px;
                width: 100%;
                margin: 0px auto;
            }
            .page-title {
                padding-bottom: 10px;
                border-bottom: 1px solid #eee;
                h1 {
                    font-family: 'texgyreadventorregular';
                    color: $azul;
                    font-size: 33px;
                    line-height: 42px;
                    margin-bottom: 0px;
                    span {
                        color: $amarillo;
                    }
                }
            }
            .text-404 {
                font-family: 'tex_gyre_adventorbold';
                color: $azul;
                text-align: center;
                margin-top: 40px;
                p {
                    font-size: 120px;
                    line-height: 111px;
                    margin-bottom: 0px;
                    border-bottom: 5px solid $amarillo;
                    @media (min-width: 768px) {
                        font-size: 170px;
                        line-height: 156px;
                    }
                }
            }
            .cont-search {
                margin-top: 20px;
                p {
                    font-family: 'ralewaylight';
                    color: $gris;
                }
                .search {
                    .searchform {
                        @include display-flex();
                        input {
                            width: 100%;
                            display: block;
                            font-family: 'ralewaylight';
                            padding: 5px;
                            border: 1px solid #ced4da;
                            border-right: none;
                            border-radius: 2px;
                            font-size: 14px;
                            color: #393A3A;
                        }
                        .button-submit {
                            font-family: 'texgyreadventorregular';
                            text-decoration: none;
                            text-align: center;
                            font-size: 16px;
                            line-height: 17px;
                            background-color: $amarillo;
                            color: $azul_light;
                            padding: 8px 0px 10px;
                            width: 150px;
                            max-width: 100%;
                            &:hover {
                                background-color: $azul;
                                color: $amarillo;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .cont-recent-post {
                margin-top: 15px;
                h2 {
                    font-family: 'texgyreadventorregular';
                    color: $azul_light;
                    font-size: 25px;
                    margin-bottom: 15px;
                }
                ul {
                    margin: 0px;
                    padding: 0px;
                    text-indent: -11px;
                    margin-left: 21px;
                    li {
                        list-style: none;
                        color: $gris;
                        text-align: justify;
                        margin-bottom: 10px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        i {
                            color: $amarillo;
                            margin-right: 12px;
                        }
                        a {
                            color: $gris;
                            font-family: 'ralewaylight';
                        }
                    }
                }
            }
            .cont-archivos {
                margin-top: 15px;
                h2 {
                    font-family: 'texgyreadventorregular';
                    color: $azul_light;
                    font-size: 25px;
                    margin-bottom: 15px;
                }
                p {
                    font-family: 'ralewaylight';
                    color: $gris;
                }
                .screen-reader-text {
                    display: none;
                }
            }
        }
    }
}