.template-archive {
    .container-archive {
        margin-top: 25px;
        .cta-back-archive {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
        }
        .container-general-info-archive {
            margin-top: 20px;
            @media (min-width: 768px) {
                padding: 40px 0px;
            }
            @media (min-width: 992px) {
                max-width: 800px;
                width: 100%;
                margin: 0px auto;
            }
            .page-title {
                padding-bottom: 10px;
                border-bottom: 1px solid #eee;
                h1 {
                    font-family: 'texgyreadventorregular';
                    color: $azul;
                    font-size: 33px;
                    line-height: 42px;
                    margin-bottom: 0px;
                }
            }
            .cont-result-posts {
                margin-top: 20px;
                .post {
                    margin-bottom: 25px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    .post-thumbnail {
                        display: block;
                        margin-bottom: 15px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .post-title {
                        .entry-title {
                            a {
                                font-family: 'texgyreadventorregular';
                                text-decoration: none;
                                color: $azul_light;
                                font-size: 27px;
                            }
                        }
                    }
                    .entry-content {
                        font-family: 'ralewaylight';
                        color: $gris;
                    }
                    .post-meta {
                        margin-top: 15px;
                        .entry-meta {
                            @include display-flex();
                            @include justify-content(space-between);
                            p {
                                font-family: 'ralewaylight';
                                color: $azul_light;
                                font-size: 17px;
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}