.container-newsletter {
    position: relative;
    margin-bottom: 30px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(248, 177, 81, 0.6);
    }
    .cont-form-orion {
        padding: 15px 0px;
        position: relative;
        .texto {
            h3 {
                font-family: 'tex_gyre_adventorbold';
                color: $azul;
                text-align: center;
                font-size: 23px;
                line-height: 23px;
                margin-bottom: 15px;
                @media (min-width: 768px) {
                    text-align: left;
                    font-size: 26px;
                    line-height: 26px;
                }
            }
            p {
                font-family: 'ralewaylight';
                color: $gris;
            }
        }
        .formulario {
            form {
                font-family: 'ralewaylight';
                @media (min-width: 1200px) {
                    @include display-flex();
                    overflow: hidden;
                }
                .inputs-row {
                    @media (min-width: 992px) {
                        @include display-flex();
                        @include justify-content(space-between);
                        margin-bottom: 16px;
                    }
                    @media (min-width: 1200px) {
                        margin-bottom: 0px;
                        margin-right: 8px;
                        @include flex-direction(column);
                    }
                    &:last-child {
                        @media (min-width: 992px) {
                            margin-right: 0px;
                        }
                    }
                    input {
                        @media (min-width: 992px) {
                            display: inline-block;
                            width: 49%;
                            margin-bottom: 0px;
                        }
                        @media (min-width: 1200px) {
                            width: 100%;
                            margin-bottom: 8px;
                        }
                        &:last-child {
                            @media (min-width: 992px) {
                                margin-right: 0px;
                            }
                            @media (min-width: 1200px) {
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
                input,
                select,
                textarea {
                    width: 100%;
                    display: block;
                    padding: 9px;
                    border: 1px solid #ced4da;
                    font-size: 14px;
                    color: $gris;
                    background: #fff;
                    margin-bottom: 16px;
                    @media (min-width: 1200px) {
                        font-size: 12px;
                        margin-bottom: 0px;
                    }
                    &::-webkit-input-placeholder {
                        color: $gris;
                        opacity: 1;
                    }
                    &:-moz-placeholder {
                        color: $gris;
                        opacity: 1;
                    }
                    &::-moz-placeholder {
                        color: $gris;
                        opacity: 1;
                    }
                    &:-ms-input-placeholder {
                        color: $gris;
                        opacity: 1;
                    }
                }
                textarea {
                    resize: none;
                    @media (min-width: 1200px) {
                        width: 160px;
                        margin-right: 8px;
                    }
                }
                select {
                    @media (min-width: 1200px) {
                        width: 210px;
                        margin-right: 8px;
                    }
                }
                .check_cform_text {
                    font-family: 'texgyreadventorregular';
                    font-size: 14px;
                    color: $azul;
                    @include display-flex();
                    @include align-items(center);
                    margin-bottom: 7px;
                    @media (min-width: 992px) {
                        margin-bottom: 0px;
                    }
                    &.publicidad {
                        display: none;
                    }
                    &.politicas {
                        @media (min-width: 992px) {
                            @include align-items(flex-start);
                            @include justify-content(center);
                        }
                        @media (min-width: 1200px) {
                            width: 16%;
                        }
                        input {
                            @media (min-width: 992px) {
                                height: 40px;
                                margin-right: 13px;
                            }
                        }
                    }
                    input {
                        width: auto;
                        height: auto;
                        margin-right: 7px;
                        margin-bottom: 0px;
                    }
                    label {
                        margin-bottom: 0px;
                        @media (min-width: 992px) {
                            width: 100%;
                        }
                        @media (min-width: 1200px) {
                            width: 80%;
                        }
                    }
                    a {
                        color: $azul;
                        text-decoration: underline;
                    }
                }
                #alert100 {
                    @media (min-width: 992px) {
                        display: none !important;
                    }
                }
                .button-submit {
                    @include display-flex();
                    @include flex-direction(column);
                    @include align-items(flex-end);
                    margin-top: 25px;
                    @media (min-width: 992px) {
                        margin-top: 0px;
                    }
                    @media (min-width: 1200px) {
                        width: 10%;
                        @include justify-content(flex-end);
                    }
                    a {
                        font-family: 'texgyreadventorregular';
                        background: $azul;
                        color: #fff;
                        width: 100%;
                        max-width: 100%;
                        text-align: center;
                        border: none;
                        text-decoration: none;
                        padding: 7px 5px 10px 5px;
                        font-size: 18px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: $azul_light;
    .container-footer {
        font-family: 'ralewaylight';
        .cont-footer {
            @media (min-width: 992px) {
                @include display-flex();
                @include justify-content(space-between);
                border-bottom: none;
                padding: 20px 0px;
            }
            >div {
                border-bottom: 4px solid $amarillo;
                padding: 25px 0px;
                @media (min-width: 992px) {
                    border-bottom: none;
                    border-right: none;
                    padding: 0px;
                }
            }
            &:last-child {
                @media (min-width: 992px) {
                    border-bottom: none;
                }
                >div {
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
        .social-networks {
            @include display-flex();
            @include justify-content(space-between);
            @media (min-width: 768px) {
                @include justify-content(space-evenly);
            }
            @media (min-width: 992px) {
                width: 210px;
                @include justify-content(space-between);
                @include align-items(center);
            }
            @media (min-width: 1200px) {
                max-width: 250px;
                width: 100%;
            }
            a {
                i {
                    color: #fff;
                    font-size: 40px;
                    @media (min-width: 992px) {
                        font-size: 28px;
                    }
                    @media (min-width: 1200px) {
                        font-size: 30px;
                    }
                }
            }
        }
        .sedes {
            @media (min-width: 768px) {
                @include display-flex();
            }
            .address {
                text-align: center;
                margin-bottom: 20px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    margin-right: 15px;
                }
                @media (min-width: 992px) {
                    max-width: 245px;
                    width: 100%;
                }
                @media (min-width: 1200px) {
                    max-width: 230px;
                    width: 100%;
                    margin-right: 0px;
                }
                &:last-child {
                    margin-bottom: 0px;
                    @media (min-width: 768px) {
                        margin-right: 0px;
                    }
                }
                i {
                    color: $amarillo;
                    font-size: 25px;
                    margin-bottom: 10px;
                }
                p {
                    color: #fff;
                    font-size: 17px;
                    line-height: 22px;
                    margin-bottom: 0px;
                    @media (min-width: 1200px) {
                        font-size: 14px;
                    }
                }
                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 17px;
                    @media (min-width: 1200px) {
                        font-size: 14px;
                    }
                }
            }
        }
        .horario-general {
            padding: 25px 0px;
            border-bottom: 4px solid $amarillo;
            @media (min-width: 992px) {
                padding-top: 0px;
                padding-bottom: 20px;
                border-bottom: 2px solid $amarillo;
            }
            .texto {
                @include display-flex();
                color: #fff;
                font-size: 16px;
                @media (min-width: 480px) {
                    font-size: 17px;
                }
                @media (min-width: 768px) {
                    @include align-items(center);
                }
                @media (min-width: 992px) {
                    @include justify-content(flex-end);
                }
                @media (min-width: 1200px) {
                    font-size: 14px;
                }
                i {
                    color: $amarillo;
                    margin-right: 7px;
                    font-size: 25px;
                    line-height: 35px;
                    @media (min-width: 768px) {
                        line-height: 25px;
                    }
                }
            }
        }
        .cont-politicas {
            @media (min-width: 768px) {
                @include display-flex();
                @include justify-content(space-between);
            }
            .politicas {
                @media (min-width: 992px) {
                    margin-right: 25px;
                }
                @media (min-width: 1200px) {
                    @include display-flex();
                    margin-right: 0px;
                }
                &:last-child {
                    @media (min-width: 1200px) {
                        margin-right: 0px;
                    }
                }
                a {
                    @include display-flex();
                    @include align-items(center);
                    text-decoration: none;
                    color: #fff;
                    font-size: 17px;
                    margin-bottom: 15px;
                    @media (min-width: 1200px) {
                        font-size: 14px;
                        margin-bottom: 0px;
                        margin-right: 15px;
                    }
                    i {
                        color: $amarillo;
                        font-size: 22px;
                        margin-right: 7px;
                    }
                    &:last-child {
                        @media (min-width: 768px) {
                            margin-bottom: 0px;
                        }
                    }
                }
                &:last-child {
                    a {
                        &:last-child {
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
        .copyright {
            @media (min-width: 992px) {
                @include display-flex();
                @include align-items(flex-end);
            }
            p {
                color: #fff;
                font-size: 17px;
                line-height: 22px;
                margin-bottom: 0px;
                @media (min-width: 1200px) {
                    font-size: 14px;
                }
                i {
                    color: #fff;
                    margin-right: 5px;
                }
            }
        }
    }
}