header {
    position: fixed;
    z-index: 999;
    background-color: #fff;
    max-width: $max_width;
    width: 100%;
    @include display-flex();
    @include justify-content(center);
    .container-header {
        width: 100%;
        &.border-down {
            border-bottom: 1px solid #d2d2d2;
        }
        @media (min-width: 768px) {
            padding: 15px;
            @include display-flex();
            @include justify-content(space-between);
            @include align-items(center);
        }
        @media (min-width: 992px) {
            padding: 15px;
        }
        .container-logo {
            width: 100%;
            margin: 10px 0px;
            padding: 0px 25px;
            @include display-flex();
            @include justify-content(center);
            @media (min-width: 768px) {
                margin: 0px;
                padding: 0px;
                max-width: 250px;
            }
            @media (min-width: 992px) {
                max-width: 330px;
            }
            a {
                display: inline-block;
                img {
                    width: 100%;
                    height: auto;
                    @media (min-width: 320px) {
                        max-width: 320px;
                    }
                    @media (min-width: 768px) {
                        max-width: 100%;
                    }
                }
            }
        }
        .container-sobre-igc-ubic-menu {
            font-family: 'ralewaylight';
            .sobre-ubic {
                display: none;
                @media (min-width: 768px) {
                    @include display-flex();
                    @include justify-content(flex-end);
                    margin-bottom: 30px;
                }
                @media (min-width: 992px) {
                    margin-bottom: 40px;
                }
                a {
                    color: $gris;
                    text-decoration: none;
                    padding: 0px 15px;
                    font-size: 16px;
                    line-height: 16px;
                    border-right: 2px solid $amarillo;
                    &:first-child {
                        padding-left: 0px;
                    }
                    &:last-child {
                        padding-right: 0px;
                        border-right: none;
                    }
                }
            }
            .phone-menu {
                @include display-flex();
                @include justify-content(space-between);
                @include align-items(center);
                padding: 0px 25px;
                margin: 10px 0px;
                @media (min-width: 768px) {
                    padding: 0px;
                    margin: 0px;
                }
                .phone {
                    @media (min-width: 768px) {
                        margin-right: 20px;
                    }
                    a {
                        color: $gris;
                        text-decoration: none;
                        font-size: 16px;
                        @include display-flex();
                        @include align-items(center);
                        i {
                            color: $amarillo;
                            margin-right: 5px;
                        }
                    }
                }
                .menu-desktop {
                    display: none;
                    @media (min-width: 768px) {
                        display: block;
                    }
                    .menu-menu-principal-container {
                        .menu {
                            padding: 0px;
                            margin: 0px;
                            background-color: $azul;
                            @include display-flex();
                            li {
                                list-style: none;
                                padding-top: 8px;
                                padding-bottom: 10px;
                                a {
                                    display: block;
                                    text-decoration: none;
                                    color: #fff;
                                    font-size: 15px;
                                    line-height: 15px;
                                    padding: 0px 18px 0px;
                                    border-right: 2px solid #F7B051;
                                    @media (min-width: 992px) {
                                        padding: 0px 45px 0px;
                                    }
                                }
                                &:last-child {
                                    a {
                                        border-right: none;
                                    }
                                }
                            }
                        }
                    }
                }
                .menu-mobile {
                    @media (min-width: 768px) {
                        display: none;
                    }
                    .icon-burguer-menu {
                        line-height: 17px;
                        .navbar-toggler {
                            padding: 0px;
                            .icon-bar {
                                display: block;
                                width: 22px;
                                height: 2px;
                                border-radius: 1px;
                                background-color: $azul;
                            }
                            .icon-bar+.icon-bar {
                                margin-top: 4px;
                            }
                        }
                    }
                }
            }
            .custom-menu-mobile {
                background-color: $azul;
                padding: 20px 0px;
                .menu {
                    margin: 0px;
                    padding: 0px;
                    li {
                        list-style: none;
                        text-align: center;
                        margin-bottom: 23px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        a {
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}