.template-homepage {
    h2.mobile {
        font-family: 'texgyreadventorregular';
        font-size: 25px;
        line-height: 26px;
        color: $azul;
    }
    h3.mobile {
        font-family: 'ralewaylight';
        font-size: 16px;
        line-height: 22px;
        color: $gris;
    }
    .section-levels {
        padding: 0px 10px 0px;
        background-position: 10% center;
        background-size: cover;
        background-repeat: no-repeat;
        @media (min-width: 768px) {
            padding: 15px 10px 0px;
            position: relative;
            background-position: center center;
            height: 520px;
        }
        @media (min-width: 992px) {
            height: 405px;
            padding: 30px;
        }
        @media (min-width: 1200px) {
            margin-right: -15px;
            background-position: center 10%;
            padding: 25px 30px;
        }
        h1 {
            display: none;
        }
        h2 {
            font-family: 'texgyreadventorregular';
            font-size: 25px;
            line-height: 26px;
            color: $azul;
        }
        h3 {
            font-family: 'ralewaylight';
            font-size: 16px;
            line-height: 22px;
            color: #fff;
            @media (min-width: 1200px) {
                color: $gris;
            }
        }
        .container-levels {
            margin-left: -10px;
            margin-right: -10px;
            @media (min-width: 768px) {
                margin-top: 0px;
                position: absolute;
                width: 100%;
                bottom: 0px;
                right: 10px;
            }
            .levels {
                padding: 20px 10px;
                background-color: rgba($color: $azul, $alpha: 0.6);
                @media (min-width: 768px) {
                    @include display-flex();
                    @include justify-content(space-between);
                    @include flex-wrap(wrap);
                    padding: 15px 10px 0px 10px;
                }
                @media (min-width: 992px) {
                    padding: 15px 10px;
                }
                .cont-cta-level {
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    @media (min-width: 768px) {
                        flex: 1 0 50%;
                        padding: 0px 9px 15px 9px;
                        margin-bottom: 0px;
                    }
                    @media (min-width: 992px) {
                        flex: initial;
                        padding: 0px;
                    }
                    .cta-levels {
                        font-family: 'texgyreadventorregular';
                        @include display-flex();
                        @include justify-content(space-between);
                        text-decoration: none;
                        padding: 14px 10px 15px;
                        color: #fff;
                        border: 1px solid #fff;
                        font-size: 14px;
                        @media (min-width: 768px) {
                            width: 341px;
                            max-width: 100%;
                        }
                        @media (min-width: 992px) {
                            display: block;
                            text-align: left;
                            font-size: 13px;
                            width: 190px;
                            padding: 10px 10px 12px 8px;
                        }
                        @media (min-width: 1200px) {
                            width: 160px;
                            font-size: 12px;
                            padding: 10px 4px 12px 4px;
                        }
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        &:hover {
                            background-color: $azul;
                        }
                        p {
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
    .section-idiomas-extraesco {
        margin-top: 15px;
        @media (min-width: 992px) {
            @include display-flex();
            @include justify-content(space-between);
        }
        @media (min-width: 1200px) {
            margin-top: 0px;
            display: block;
        }
        a {
            display: block;
            text-decoration: none;
            width: 100%;
            margin-bottom: 10px;
            @media (min-width: 992px) {
                margin-bottom: 0px;
            }
            @media (min-width: 1200px) {
                margin-bottom: 10px;
            }
            &:last-child {
                margin-bottom: 0px;
            }
            @media (min-width: 768px) {
                margin-right: 15px;
            }
            .formacion {
                min-height: 170px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                padding: 20px 10px;
                position: relative;
                &.incompany {
                    background-position: center top;
                    @media (min-width: 768px) {
                        background-position: center 30%;
                    }
                    @media (min-width: 1200px) {
                        background-position: center top;
                    }
                }
                &.extra-campa-verano {
                    background-position: center 65%;
                    @media (min-width: 768px) {
                        background-position: center 100%;
                    }
                }
                &.idiomas-extranjero {
                    @media (min-width: 768px) {
                        background-position: center 15%;
                    }
                }
                .title-promociones {
                    * {
                        font-family: 'tex_gyre_adventorbold';
                        color: $amarillo;
                        position: relative;
                        font-size: 25px;
                        text-shadow: 2px 2px 4px #000;
                        margin-bottom: 13px;
                    }
                }
                &:hover {
                    color: #fff;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        background-color: rgba($color: $azul, $alpha: 0.6);
                    }
                    .texto {
                        * {
                            color: #fff;
                        }
                    }
                }
                @media (min-width: 768px) {
                    padding: 20px 15px;
                    min-height: 190px;
                }
                @media (min-width: 992px) {
                    padding: 20px 35px;
                    min-height: 170px;
                }
                @media (min-width: 1200px) {
                    min-height: 224px;
                }
                .texto {
                    * {
                        font-family: 'ralewaylight';
                        margin-bottom: 0px;
                        color: $gris;
                        font-size: 18px;
                        position: relative;
                    }
                }
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }
    .ctas-ofrecimientos {
        margin: 15px 0px;
        @media (min-width: 992px) {
            margin: 0px;
            @include display-flex();
            @include justify-content(space-between);
        }
        a {
            display: block;
            font-family: 'texgyreadventorregular';
            text-decoration: none;
            text-align: center;
            font-size: 16px;
            line-height: 17px;
            background-color: $amarillo;
            color: $azul_light;
            padding: 12px 0px 14px;
            margin-bottom: 10px;
            &:hover {
                background-color: $azul;
                color: $amarillo;
            }
            @media (min-width: 768px) {
                margin-bottom: 0px;
            }
            @media (min-width: 992px) {
                font-size: 15px;
                line-height: 16px;
                padding: 12px 15px 14px;
            }
        }
        &.mobile-tablet {
            @media (min-width: 768px) {
                @include display-flex();
                @include justify-content(space-between);
            }
            @media (min-width: 992px) {
                margin: 15px 0px;
            }
            a {
                @media (min-width: 768px) {
                    font-size: 15px;
                    padding: 12px 6px 14px;
                }
                @media (min-width: 992px) {
                    padding: 12px 35px 14px;
                }
            }
        }
        &.desktop {
            @media (min-width: 992px) {
                margin-top: 10px;
                margin-right: -15px;
            }
        }
    }
    .container-alumnos-blog-promociones-partners {
        .alumnos-blog-trabaja {
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            @include display-flex();
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(center);
            padding: 30px 0px;
            @media (min-width: 992px) {
                min-height: 191px;
                height: 100%;
                margin-right: -15px;
            }
            @media (min-width: 1200px) {
                min-height: 223px;
            }
            a {
                display: block;
                font-family: 'tex_gyre_adventorbold_italic';
                text-decoration: none;
                color: #fff;
                font-size: 19px;
                line-height: 27px;
                margin-bottom: 17px;
                &:last-child {
                    margin-bottom: 0px;
                }
                &:hover {
                    color: $amarillo;
                }
            }
        }
        .container-promociones-destacamos-partners {
            margin-top: 15px;
            @media (min-width: 992px) {
                margin-top: 0px;
            }
            @media (min-width: 1200px) {
                margin-right: -15px;
            }
            .promociones-destacamos {
                @media (min-width: 768px) {
                    @include display-flex();
                }
                a {
                    display: block;
                    margin-bottom: 10px;
                    width: 100%;
                    text-decoration: none;
                    @media (min-width: 768px) {
                        margin-bottom: 0px;
                        margin-right: 15px;
                    }
                    &:last-child {
                        margin-bottom: 0px;
                        @media (min-width: 768px) {
                            margin-right: 0px;
                        }
                    }
                    &:hover {
                        .promo-dest {
                            .title-destaca-semana {
                                * {
                                    color: #fff;
                                }
                            }
                            .text {
                                * {
                                    color: $amarillo;
                                }
                            }
                        }
                    }
                    .promo-dest {
                        text-align: center;
                        background-position: center right;
                        background-size: cover;
                        background-repeat: no-repeat;
                        padding: 30px 15px;
                        @media (min-width: 768px) {
                            min-height: 219px;
                            height: 100%;
                            @include display-flex();
                            @include flex-direction(column);
                            @include justify-content(center);
                            padding: 20px 10px 25px;
                        }
                        @media (min-width: 1200px) {
                            min-height: 223px;
                        }
                        .title-destaca-semana {
                            * {
                                font-family: 'tex_gyre_adventorbold';
                                color: $amarillo;
                                font-size: 22px;
                                line-height: 25px;
                                margin-bottom: 20px;
                                @media (min-width: 992px) {
                                    font-size: 24px;
                                    line-height: 24px;
                                }
                            }
                        }
                        .text {
                            * {
                                font-family: 'ralewaylight';
                                color: #fff;
                                font-size: 17px;
                                margin-bottom: 0px;
                                @media (min-width: 992px) {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .container-partners {
            @media (min-width: 1200px) {
                min-height: 235px;
                @include display-flex();
                @include align-items (center);
                margin-right: -15px;
            }
            .partners {
                margin: 20px 0px 15px;
                @media (min-width: 768px) {
                    margin-top: 20px;
                }
                @media (min-width: 1200px) {
                    margin-top: 30px;
                    margin-bottom: 0px;
                    width: 100%;
                }
                h3 {
                    font-family: 'tex_gyre_adventorbold';
                    color: $azul;
                    text-align: center;
                    font-size: 29px;
                    margin-bottom: 30px;
                    @media (min-width: 768px) {
                        text-align: left;
                        margin-bottom: 20px;
                    }
                    @media (min-width: 1200px) {
                        margin-bottom: 10px;
                    }
                }
                ul {
                    padding: 0px;
                    margin: 0px;
                    @media (min-width: 768px) {
                        @include display-flex();
                        @include align-items(center);
                        @include justify-content(space-between);
                    }
                    li {
                        list-style: none;
                        text-align: center;
                        margin-bottom: 30px;
                        @media (min-width: 768px) {
                            margin-right: 10px;
                            margin-bottom: 0px;
                        }
                        &:last-child {
                            margin-bottom: 0px;
                            @media (min-width: 768px) {
                                margin-right: 0px;
                            }
                        }
                        img {
                            max-width: 190px;
                            width: 100%;
                            height: auto;
                            @media (min-width: 768px) {
                                max-width: 230px;
                            }
                        }
                    }
                }
            }
        }
    }
    .formacion-idiomas-empresas.tablet-desktop {
        a {
            display: block;
            text-decoration: none;
            .formacion {
                min-height: 140px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                padding: 20px 10px;
                margin-bottom: 10px;
                position: relative;
                &.extra-campa-verano {
                    background-position: center 80%;
                }
                &:hover {
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        background-color: rgba($color: $azul, $alpha: 0.6);
                    }
                    .texto {
                        * {
                            color: #fff;
                        }
                    }
                }
                @media (min-width: 992px) {
                    padding: 20px 40px;
                    min-height: 224px;
                }
                .texto {
                    * {
                        font-family: 'ralewaylight';
                        margin-bottom: 0px;
                        color: $gris;
                        font-size: 18px;
                        position: relative;
                    }
                }
            }
            &:last-child {
                .formacion {
                    margin-bottom: 0px;
                }
            }
        }
    }
}