.template-homepage-slider {
    h2.mobile {
        font-family: 'texgyreadventorregular';
        font-size: 25px;
        line-height: 26px;
        color: $azul;
    }
    h3.mobile {
        font-family: 'ralewaylight';
        font-size: 16px;
        line-height: 22px;
        color: $gris;
    }
    // SLIDER LEVELS
    .slider-homepage {
        position: relative;
        margin-left: -15px;
        margin-right: -15px;
        .container-levels {
            @media (min-width: 992px) {
                margin-left: -10px;
                margin-right: -10px;
                margin-top: 0px;
                position: absolute;
                width: 100%;
                bottom: 0px;
                right: 10px;
            }
            .levels {
                padding: 20px 10px;
                background-color: rgba($color: $azul, $alpha: 1);
                @media (min-width: 768px) {
                    @include display-flex();
                    @include justify-content(space-between);
                    @include flex-wrap(wrap);
                    padding: 15px 10px 0px 10px;
                }
                @media (min-width: 992px) {
                    background-color: rgba($color: $azul, $alpha: 0.7);
                    padding: 15px 10px;
                }
                .cont-cta-level {
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    @media (min-width: 768px) {
                        flex: 1 0 50%;
                        padding: 0px 9px 15px 9px;
                        margin-bottom: 0px;
                    }
                    @media (min-width: 992px) {
                        flex: initial;
                        padding: 0px;
                    }
                    .cta-levels {
                        font-family: 'texgyreadventorregular';
                        @include display-flex();
                        @include justify-content(space-between);
                        text-decoration: none;
                        padding: 14px 10px 15px;
                        color: #fff;
                        border: 1px solid #fff;
                        font-size: 14px;
                        @media (min-width: 768px) {
                            width: 341px;
                            max-width: 100%;
                        }
                        @media (min-width: 992px) {
                            display: block;
                            text-align: left;
                            font-size: 13px;
                            width: 190px;
                            padding: 10px 10px 12px 8px;
                        }
                        @media (min-width: 1200px) {
                            width: 230px;
                            font-size: 14px;
                            padding: 10px 10px 12px 10px;
                        }
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        &:hover {
                            background-color: $azul;
                        }
                        p {
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
    .ctas-ofrecimientos {
        margin: 15px -15px;
        @media (min-width: 992px) {
            @include display-flex();
            @include justify-content(space-between);
        }
        a {
            display: block;
            font-family: 'texgyreadventorregular';
            text-decoration: none;
            text-align: center;
            font-size: 16px;
            line-height: 17px;
            background-color: $amarillo;
            color: $azul_light;
            padding: 12px 0px 14px;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0px;
            }
            &:hover {
                background-color: $azul;
                color: $amarillo;
            }
            @media (min-width: 992px) {
                font-size: 14px;
                line-height: 15px;
                padding: 12px 9px 14px;
                width: 100%;
                margin-right: 15px;
                margin-bottom: 0px;
            }
            @media (min-width: 1200px) {
                font-size: 15px;
                line-height: 16px;
                padding: 12px 15px 14px;
            }
            &:last-child {
                @media (min-width: 992px) {
                    margin-right: 0px;
                }
            }
        }
    }
    .secciones-otros-servicios {
        margin-top: 15px;
        margin-left: -15px;
        margin-right: -15px;
        @media (min-width: 992px) {
            @include display-flex();
            @include flex-wrap(wrap);
            margin-right: -15px;
        }
        .item-servicio {
            margin-bottom: 15px;
            @media (min-width: 992px) {
                flex: 1 0 33%;
                margin-bottom: 0px;
                padding-right: 15px;
                padding-bottom: 15px;
            }
            &:last-child {
                margin-bottom: 0px;
                @media (min-width: 992px) {
                    padding-right: 0px;
                }
            }
            a {
                display: block;
                text-decoration: none;
                width: 100%;
                margin-bottom: 10px;
                @media (min-width: 992px) {
                    margin-bottom: 0px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 10px;
                }
                &:last-child {
                    margin-bottom: 0px;
                }
                @media (min-width: 768px) {
                    margin-right: 15px;
                }
                .formacion {
                    min-height: 190px;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    padding: 20px 10px;
                    position: relative;
                    &.incompany {
                        background-position: center top;
                        @media (min-width: 768px) {
                            background-position: center 30%;
                        }
                        @media (min-width: 1200px) {
                            background-position: center top;
                        }
                    }
                    &.extra-campa-verano {
                        background-position: center 83%;
                        @media (min-width: 768px) {
                            background-position: center 100%;
                        }
                        @media (min-width: 992px) {
                            background-position: center 90%;
                        }
                        @media (min-width: 1200px) {
                            background-position: center 85%;
                        }
                    }
                    &.idiomas-extranjero {
                        @media (min-width: 768px) {
                            background-position: center 5%;
                        }
                        @media (min-width: 992px) {
                            background-position: center 15%;
                        }
                    }
                    .title-promociones {
                        * {
                            font-family: 'tex_gyre_adventorbold';
                            color: $amarillo;
                            position: relative;
                            font-size: 25px;
                            text-shadow: 2px 2px 4px #000;
                            margin-bottom: 13px;
                        }
                    }
                    &:hover {
                        color: #fff;
                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            background-color: rgba($color: $azul, $alpha: 0.6);
                        }
                        .texto {
                            * {
                                color: #fff;
                            }
                        }
                    }
                    @media (min-width: 768px) {
                        padding: 20px 15px;
                    }
                    @media (min-width: 992px) {
                        padding: 20px 35px;
                        min-height: 170px;
                    }
                    @media (min-width: 1200px) {
                        min-height: 190px;
                    }
                    .texto {
                        * {
                            font-family: 'ralewaylight';
                            margin-bottom: 0px;
                            color: $gris;
                            font-size: 18px;
                            position: relative;
                        }
                    }
                }
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }
    .container-otras-secciones {
        margin: 35px 0px 45px;
        @media (min-width: 768px) {
            margin: 40px 0px;
        }
        @media (min-width: 992px) {
            margin-top: 30px;
            margin-bottom: 60px;
        }
        @media (min-width: 1200px) {
            margin-bottom: 70px;
        }
        .servicios-de-interes {
            @media (min-width: 768px) {
                @include display-flex();
                @include flex-wrap(wrap);
            }
            a {
                display: block;
                text-decoration: none;
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    flex: 1 0 50%;
                }
                @media (min-width: 992px) {
                    flex: 1 0 25%;
                    margin-bottom: 0px;
                }
                &:last-child {
                    margin-bottom: 0px;
                }
                .item-interes {
                    @include display-flex();
                    @include justify-content(center);
                    margin-bottom: 15px;
                    .imagen-bg {
                        width: 180px;
                        height: 180px;
                        border-radius: 180px;
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                        transition: transform .2s;
                        &:hover {
                            transform: scale(1.12);
                        }
                        &.videos {
                            background-position: -75px center;
                        }
                    }
                }
                p {
                    text-align: center;
                    font-family: 'ralewaylight';
                    text-decoration: none;
                    color: $gris;
                    font-size: 19px;
                    line-height: 27px;
                    margin-bottom: 0px;
                }
            }
        }
        .container-instagram {
            margin-top: 15px;
            @media (min-width: 992px) {
                margin-top: 0px;
            }
        }
    }
    .container-partners {
        .partners {
            margin: 20px 0px 15px;
            @media (min-width: 768px) {
                margin-top: 20px;
            }
            @media (min-width: 1200px) {
                margin-top: 30px;
                margin-bottom: 10px;
                width: 100%;
            }
            h3 {
                font-family: 'tex_gyre_adventorbold';
                color: $azul;
                text-align: center;
                font-size: 29px;
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    text-align: left;
                    margin-bottom: 20px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 10px;
                }
            }
            ul {
                padding: 0px;
                margin: 0px;
                @media (min-width: 768px) {
                    @include display-flex();
                    @include align-items(center);
                    @include justify-content(space-between);
                }
                li {
                    list-style: none;
                    text-align: center;
                    margin-bottom: 30px;
                    @media (min-width: 768px) {
                        margin-right: 10px;
                        margin-bottom: 0px;
                    }
                    &:last-child {
                        margin-bottom: 0px;
                        @media (min-width: 768px) {
                            margin-right: 0px;
                        }
                    }
                    a {
                        display: block;
                        img {
                            max-width: 190px;
                            width: 100%;
                            height: auto;
                            @media (min-width: 768px) {
                                max-width: 230px;
                            }
                        }
                    }
                }
            }
        }
    }
}