.template-idiomas-extranjero {
    .container-idiomas-extranjero {
        margin-top: 25px;
        .cta-back-title-general-idiomas-extranjero {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-idiomas-extranjero {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-info-idiomas-extranjero {
            margin-top: 20px;
            @media (min-width: 992px) {
                max-width: 800px;
                width: 100%;
                margin: 0px auto;
            }
            .imagen-portada {
                margin-bottom: 20px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .contenido-idiomas-extra {
                font-family: 'ralewaylight';
                color: $gris;
                text-align: justify;
            }
            .cta-informacion {
                @include display-flex();
                @include justify-content(center);
                margin: 25px 0px;
                a {
                    display: block;
                    font-family: 'texgyreadventorregular';
                    text-decoration: none;
                    text-align: center;
                    font-size: 16px;
                    line-height: 17px;
                    background-color: $amarillo;
                    color: $azul_light;
                    padding: 12px 0px 14px;
                    max-width: 220px;
                    width: 100%;
                    &:hover {
                        background-color: $azul;
                        color: $amarillo;
                    }
                }
            }
        }
    }
}