.template-ubica-gc {
    .container-ubica-gc {
        margin-top: 25px;
        .cta-back-title-general-ubica-gc {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-ubica-gc {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-info-ubica-gc {
            margin-top: 20px;
            @media (min-width: 992px) {
                max-width: 900px;
                width: 100%;
                margin: 0px auto;
            }
            @media (min-width: 1200px) {
                max-width: 1100px;
            }
            .container-donde-estamos {
                font-family: 'ralewaylight';
                color: $gris;
                text-align: justify;
                @media (min-width: 992px) {
                    max-width: 600px;
                    width: 100%;
                }
                .titulo-ubica-gc {
                    * {
                        font-family: 'texgyreadventorregular';
                        color: $azul;
                        font-size: 30px;
                        margin-bottom: 20px;
                        @media (min-width: 768px) {
                            margin-bottom: 25px;
                        }
                    }
                }
            }
            .container-sedes {
                margin-top: 25px;
                @media (min-width: 992px) {
                    margin-bottom: 20px;
                }
                .cont-sede {
                    margin-bottom: 25px;
                    @media (min-width: 768px) {
                        margin-bottom: 30px;
                        @include display-flex();
                        @include justify-content(center);
                    }
                    @media (min-width: 992px) {
                        margin-bottom: 0px;
                    }
                    .sede {
                        @media (min-width: 768px) {
                            max-width: 500px;
                            width: 100%;
                        }
                        .titulo-sede {
                            * {
                                font-family: 'texgyreadventorregular';
                                color: $azul_light;
                                font-size: 27px;
                                margin-bottom: 20px;
                            }
                        }
                        a {
                            display: block;
                            text-decoration: none;
                        }
                        .imagen-bg-sede {
                            background-size: cover;
                            background-position: center center;
                            background-repeat: no-repeat;
                            position: relative;
                            height: 200px;
                            @media (min-width: 768px) {
                                height: 250px;
                            }
                            &:hover {
                                &:before {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    left: 0;
                                    bottom: 0;
                                    background-color: $azul;
                                    opacity: 0.6;
                                }
                                .overlay {
                                    i {
                                        display: block;
                                    }
                                }
                            }
                            .overlay {
                                width: 100%;
                                height: 100%;
                                @include display-flex();
                                @include justify-content(center);
                                @include align-items(center);
                                i {
                                    position: relative;
                                    color: $amarillo;
                                    font-size: 47px;
                                    display: none;
                                }
                            }
                        }
                        .ctas-info-como-llegar {
                            margin-top: 20px;
                            @media (min-width: 768px) {
                                @include display-flex();
                            }
                            a {
                                display: block;
                                font-family: 'texgyreadventorregular';
                                text-decoration: none;
                                text-align: center;
                                font-size: 16px;
                                line-height: 17px;
                                background-color: $amarillo;
                                color: $azul_light;
                                padding: 12px 0px 14px;
                                margin-bottom: 10px;
                                @media (min-width: 768px) {
                                    margin-bottom: 0px;
                                    margin-right: 15px;
                                    width: 50%;
                                }
                                &:hover {
                                    background-color: $azul;
                                    color: $amarillo;
                                }
                                &:last-child {
                                    margin-bottom: 0px;
                                    @media (min-width: 768px) {
                                        margin-right: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}