.template-sobre-igc {
    .container-sobre-igc {
        margin-top: 25px;
        .cta-back-title-general-sobre-igc {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-sobre-igc {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-info-sobre-igc {
            margin-top: 20px;
            @media (min-width: 992px) {
                max-width: 900px;
                width: 100%;
                margin: 0px auto;
                padding-bottom: 20px;
            }
            @media (min-width: 1200px) {
                max-width: 1100px;
            }
            .cont-text-sobre-igc {
                font-family: 'ralewaylight';
                color: $gris;
                margin-bottom: 30px;
            }
            .container-video {
                @media (min-width: 992px) {
                    height: 100%;
                    @include display-flex();
                    @include align-items(center);
                }
                iframe {
                    width: 100%;
                    height: 200px;
                    @media (min-width: 480px) {
                        height: 250px;
                    }
                    @media (min-width: 768px) {
                        height: 350px;
                    }
                    @media (min-width: 1200px) {
                        height: 300px;
                    }
                }
            }
            .container-lista-ofrecemos {
                font-family: 'ralewaylight';
                color: $gris;
                margin: 15px 0px;
                @media (min-width: 992px) {
                    margin: 0px;
                }
                @media (min-width: 1200px) {
                    padding: 0px 40px;
                }
                .titulo-sobre-igc {
                    * {
                        font-family: 'texgyreadventorregular';
                        color: $azul;
                        font-size: 30px;
                        margin-bottom: 20px;
                        @media (min-width: 768px) {
                            margin-bottom: 25px;
                        }
                    }
                }
                ul {
                    margin: 0px;
                    padding: 0px;
                    text-indent: -11px;
                    margin-left: 21px;
                    li {
                        list-style: none;
                        color: $gris;
                        text-align: justify;
                        margin-bottom: 20px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        i {
                            color: $amarillo;
                            margin-right: 12px;
                        }
                    }
                }
            }
        }
    }
}