.template-blog {
    .container-blog {
        margin-top: 25px;
        .cta-back-title-general-blog {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-blog {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 30px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-info-blog {
            margin-top: 20px;
            @media (min-width: 992px) {
                max-width: 800px;
                width: 100%;
                margin: 0px auto;
            }
            @media (min-width: 1200px) {
                padding: 30px 0px;
            }
            .wcp-carousel-main-wrap {
                padding: 0px 20px;
                @media (min-width: 768px) {
                    padding: 0px 25px;
                }
                .slick-prev {
                    left: -33px;
                    width: 30px;
                    height: 30px;
                    @media (min-width: 992px) {
                        left: -40px;
                    }
                    @media (min-width: 1200px) {
                        left: -55px;
                        width: 40px;
                        height: 50px;
                    }
                    &:before {
                        font-family: 'Font Awesome\ 5 Free';
                        font-weight: 900;
                        content: '\f053' !important;
                        color: $amarillo !important;
                        font-size: 30px;
                        @media (min-width: 1200px) {
                            font-size: 45px;
                        }
                    }
                }
                .slick-next {
                    right: -32px;
                    width: 30px;
                    height: 30px;
                    @media (min-width: 992px) {
                        right: -37px;
                    }
                    @media (min-width: 1200px) {
                        width: 40px;
                        height: 50px;
                        right: -50px;
                    }
                    &:before {
                        font-family: 'Font Awesome\ 5 Free';
                        font-weight: 900;
                        content: '\f054' !important;
                        color: $amarillo !important;
                        font-size: 30px;
                        @media (min-width: 1200px) {
                            font-size: 45px;
                        }
                    }
                }
                .slick-slide {
                    @media (min-width: 480px) {
                        padding: 0px 5px;
                    }
                    @media (min-width: 768px) {
                        padding: 0px 10px;
                    }
                    img {
                        width: 100;
                        height: auto;
                    }
                    h3.rpc-title {
                        margin-top: 4px;
                        a {
                            font-family: 'texgyreadventorregular';
                            font-size: 25px;
                            color: $azul_light;
                            &:hover {
                                color: $azul_light;
                            }
                        }
                    }
                    .rpc-content {
                        font-family: 'ralewaylight';
                        color: $gris;
                        text-align: justify;
                    }
                }
            }
        }
    }
}