.template-clases-conver-temas {
    .container-clases-conver-temas {
        margin-top: 25px;
        .cta-back-title-general-clases-conver-temas {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-clases-conver-temas {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-info-clases-conver-temas {
            margin-top: 20px;
            @media (min-width: 992px) {
                max-width: 800px;
                width: 100%;
                margin: 0px auto;
            }
            .semana-temas-info {
                .semana-info {
                    font-family: 'ralewaylight';
                    color: $gris;
                    margin-bottom: 25px;
                    h3 {
                        font-family: 'texgyreadventorregular';
                        color: $azul;
                        font-size: 19px;
                        line-height: 28px;
                        margin-bottom: 20px;
                        i {
                            margin-right: 7px;
                        }
                    }
                    ul {
                        margin: 0px;
                        padding: 0px;
                        text-indent: -11px;
                        margin-left: 21px;
                        li {
                            list-style: none;
                            color: $gris;
                            margin-bottom: 20px;
                            &:last-child {
                                margin-bottom: 0px;
                            }
                            i {
                                color: $amarillo;
                                margin-right: 12px;
                            }
                            a {
                                text-decoration: none;
                                font-family: 'texgyreadventorregular';
                                color: $amarillo;
                            }
                        }
                    }
                }
            }
        }
    }
}