.template-clases-conver-horarios {
    .container-clases-conver-horarios {
        margin-top: 25px;
        .cta-back-title-general-clases-conver-horarios {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-clases-conver-horarios {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-info-clases-conver-horarios {
            margin-top: 20px;
            @media (min-width: 992px) {
                max-width: 850px;
                width: 100%;
                margin: 0px auto;
            }
            .container-item-horarios {
                .info-horarios-conver {
                    font-family: 'ralewaylight';
                    color: $gris;
                    margin-bottom: 25px;
                    h3 {
                        font-family: 'texgyreadventorregular';
                        color: $azul;
                        font-size: 19px;
                        line-height: 28px;
                        margin-bottom: 20px;
                        i {
                            margin-right: 7px;
                        }
                    }
                    .table-horarios {
                        overflow-x: auto;
                        @media (min-width: 768px) {
                            padding: 0px 15px;
                        }
                        @media (min-width: 992px) {
                            padding: 0px;
                        }
                        table {
                            width: 100%;
                            thead {
                                font-family: 'texgyreadventorregular';
                                text-align: center;
                                th {
                                    border-width: 2px;
                                    border-color: $amarillo;
                                    min-width: 250px;
                                    vertical-align: middle;
                                    @media (min-width: 768px) {
                                        min-width: 220px;
                                    }
                                    @media (min-width: 992px) {
                                        width: 33.3%;
                                    }
                                }
                            }
                            tbody {
                                text-align: center;
                                td {
                                    border-width: 2px;
                                    border-color: $amarillo;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}