.template-cursos-online-semi {
    .container-curso-online-semi {
        margin-top: 25px;
        .cta-back-title-general-curso-online-semi {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-curso-online-semi {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 31px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    @media (min-width: 768px) {
                        font-size: 35px;
                    }
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-class-online-semi {
            @media (min-width: 992px) {
                @include display-flex();
                @include justify-content(center);
            }
            .container-clases-online-semi {
                @media (min-width: 768px) {
                    @include display-flex();
                    @include flex-wrap(wrap);
                }
                @media (min-width: 992px) {
                    max-width: 800px;
                    width: 100%;
                }
                .imagen-text-portada-cursos-online-semi {
                    margin-bottom: 20px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                    .text-info-cursos-online-semi {
                        font-family: 'ralewaylight';
                        color: $gris;
                        text-align: justify;
                        margin: 15px 0px;
                    }
                }
                .cont-clase {
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    @media (min-width: 768px) {
                        flex: 1 0 50%;
                        margin-bottom: 0px;
                        padding: 0px 9px 25px 9px;
                    }
                    .clase {
                        border: 1px solid $azul_light;
                        padding: 15px;
                        box-shadow: 0 0 15px #D7D7D7;
                        img {
                            width: 100%;
                            height: auto;
                            margin-bottom: 7px;
                        }
                        a {
                            text-decoration: none;
                            .titulo {
                                * {
                                    font-family: 'texgyreadventorregular';
                                    font-size: 24px;
                                    line-height: 33px;
                                    color: $azul;
                                    margin-bottom: 10px;
                                    @media (min-width: 768px) {
                                        font-size: 30px;
                                        line-height: 43px;
                                    }
                                    @media (min-width: 1200px) {
                                        font-size: 26px;
                                        line-height: 38px;
                                        margin-bottom: 20px;
                                    }
                                }
                            }
                        }
                        .small-info {
                            font-family: 'ralewaylight';
                            color: $gris;
                            text-align: justify;
                            margin-bottom: 25px;
                        }
                        .ctas-info-reserva {
                            a {
                                display: block;
                                font-family: 'texgyreadventorregular';
                                text-decoration: none;
                                text-align: center;
                                font-size: 16px;
                                line-height: 17px;
                                background-color: $amarillo;
                                color: $azul_light;
                                padding: 12px 0px 14px;
                                margin-bottom: 10px;
                                &:last-child {
                                    margin-bottom: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}