.template-sede-gc {
    .container-sede-gc {
        margin-top: 25px;
        .cta-back-title-general-sede-gc {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-sede-gc {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-info-sede-gc {
            @media (min-width: 992px) {
                max-width: 900px;
                width: 100%;
                margin: 0px auto;
                padding-bottom: 20px;
            }
            @media (min-width: 1200px) {
                max-width: 1100px;
            }
            .container-video-info {
                .video {
                    margin-bottom: 15px;
                    iframe {
                        width: 100%;
                        height: 200px;
                        @media (min-width: 480px) {
                            height: 250px;
                        }
                        @media (min-width: 768px) {
                            height: 350px;
                        }
                        @media (min-width: 1200px) {
                            height: 300px;
                        }
                    }
                }
                .texto-info-sede {
                    font-family: 'ralewaylight';
                    color: $gris;
                    text-align: justify;
                }
                .lista-info-sede {
                    font-family: 'ralewaylight';
                    color: $gris;
                    margin-top: 15px;
                    ul {
                        margin: 0px;
                        padding: 0px;
                        text-indent: -11px;
                        margin-left: 21px;
                        li {
                            list-style: none;
                            color: $gris;
                            text-align: justify;
                            margin-bottom: 20px;
                            &:last-child {
                                margin-bottom: 0px;
                            }
                            i {
                                color: $amarillo;
                                margin-right: 12px;
                            }
                        }
                    }
                }
            }
            .container-mapa-info {
                margin-top: 25px;
                @media (min-width: 992px) {
                    margin-top: 0px;
                }
                .mapa {
                    margin-bottom: 15px;
                    iframe {
                        width: 100%;
                        height: 200px;
                        @media (min-width: 480px) {
                            height: 250px;
                        }
                        @media (min-width: 768px) {
                            height: 350px;
                        }
                        @media (min-width: 1200px) {
                            height: 300px;
                        }
                    }
                }
                .cont-localizacion-horario {
                    .item-info {
                        font-family: 'ralewaylight';
                        color: $gris;
                        text-align: justify;
                        margin-bottom: 15px;
                        @include display-flex();
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        i {
                            color: $amarillo;
                            font-size: 17px;
                            line-height: 27px;
                            margin-right: 5px;
                        }
                        a {
                            text-decoration: none;
                            color: $gris;
                        }
                        .titulo-horario {
                            * {
                                color: $azul_light;
                                font-size: 17px;
                                line-height: 23px;
                                font-weight: 800;
                                margin: 2px 0px;
                            }
                        }
                    }
                }
                .cta-galeria-sede {
                    margin: 20px 0px;
                    @media (min-width: 768px) {
                        margin: 30px 0px;
                    }
                    a {
                        font-family: 'texgyreadventorregular';
                        color: $azul_light;
                        text-decoration: none;
                        font-size: 28px;
                        @media (min-width: 768px) {
                            font-size: 35px;
                        }
                        i {
                            color: $amarillo;
                            margin-right: 5px;
                        }
                    }
                }
                .gallery {
                    img {
                        width: 100%;
                        height: auto;
                    }
                    .fagsfacf-gallery-caption {
                        display: none;
                    }
                    .fagsfacf-gallery-slider {
                        .slick-dots {
                            display: none !important;
                        }
                        button.slick-next {
                            background-color: $azul !important;
                        }
                        button.slick-prev {
                            background-color: $azul !important;
                        }
                    }
                }
            }
        }
    }
}