.template-cursos-online-semi-info {
    .container-cursos-online-semi-info {
        margin-top: 25px;
        .cta-back-title-general-cursos-online-semi-info {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-cursos-online-semi-info {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 27px;
                    line-height: 34px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    @media (min-width: 768px) {
                        font-size: 35px;
                        line-height: 37px;
                    }
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-info-cursos-online-semi {
            margin-top: 20px;
            @media (min-width: 992px) {
                max-width: 800px;
                width: 100%;
                margin: 0px auto;
            }
            .item-info-curso-online-semi {
                margin-bottom: 20px;
                color: $gris;
                font-family: 'ralewaylight';
                text-align: justify;
                &:last-child {
                    margin-bottom: 0px;
                }
                &.forma-pago {
                    h4 {
                        i {
                            color: $amarillo;
                        }
                    }
                }
                h4 {
                    font-family: 'texgyreadventorregular';
                    color: $azul;
                    font-size: 20px;
                    line-height: 25px;
                    margin-bottom: 20px;
                    @include display-flex();
                    @include align-items(center);
                    i {
                        margin-right: 15px;
                        font-size: 27px;
                    }
                }
                ul {
                    margin: 0px;
                    padding: 0px;
                    text-indent: -11px;
                    margin-left: 21px;
                    li {
                        list-style: none;
                        color: $gris;
                        text-align: justify;
                        margin-bottom: 20px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        i {
                            color: $amarillo;
                            margin-right: 12px;
                        }
                    }
                }
            }
        }
    }
}