.page-template-template-curso-incompany-info {
    .site-content {
        margin-bottom: 0px;
    }
}

.template-curso-incompany-info {
    .container-curso-incompany-info {
        margin-top: 25px;
        .cta-back-title-general-curso-incompany-info {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    min-width: 200px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-curso-incompany-info {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-curso-incompany-info {
            margin-top: 20px;
            @media (max-width: 1199px) {
                background-image: none !important;
            }
            @media (min-width: 1200px) {
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                margin-left: -15px;
                margin-right: -15px;
            }
            .imagen-mobile {
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .container-info-curso-incompany {
                @media (min-width: 1200px) {
                    @include display-flex();
                    @include justify-content(flex-end);
                }
                .info-curso-incompany {
                    font-family: 'ralewaylight';
                    text-align: justify;
                    border: 1px solid $azul_light;
                    background-color: #fff;
                    box-shadow: 0 0 15px #D7D7D7;
                    padding: 15px;
                    margin: 20px 0px;
                    @media (min-width: 768px) {
                        margin: 30px 0px;
                        padding: 30px;
                    }
                    @media (min-width: 1200px) {
                        margin: 30px;
                        box-shadow: none;
                        max-width: 650px;
                        min-height: 880px;
                        width: 100%;
                    }
                    .item-info {
                        padding: 25px 0px;
                        border-top: 2px solid $amarillo;
                        &:first-child {
                            padding-top: 0px;
                            border-top: none;
                        }
                        &:last-child {
                            padding-top: 0px;
                            padding-bottom: 0px;
                            border-top: none;
                        }
                        .item {
                            margin-bottom: 15px;
                            &:last-child {
                                margin-bottom: 0px;
                            }
                            h3 {
                                color: $azul;
                                font-size: 21px;
                                line-height: 28px;
                                margin-bottom: 15px;
                            }
                        }
                        .cta-reservar {
                            display: block;
                            font-family: 'texgyreadventorregular';
                            text-decoration: none;
                            text-align: center;
                            font-size: 16px;
                            line-height: 17px;
                            background-color: $amarillo;
                            color: $azul_light;
                            padding: 12px 0px 14px;
                            @media (min-width: 768px) {
                                max-width: 250px;
                                width: 100%;
                                margin: 20px auto 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}