.template-traducciones {
    .container-traducciones {
        margin-top: 25px;
        .cta-back-title-general-traducciones {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-traducciones {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-info-traducciones {
            margin-top: 20px;
            @media (min-width: 992px) {
                max-width: 800px;
                width: 100%;
                margin: 0px auto;
            }
            .imagen-text-pasos-traduccion-portada {
                margin-bottom: 20px;
                img {
                    width: 100%;
                    height: auto;
                }
                .text-info-traducciones {
                    font-family: 'ralewaylight';
                    color: $gris;
                    text-align: justify;
                    margin: 15px 0px;
                }
                .imagen-pasos-procesos-traduccion {
                    margin: 25px 0px;
                    @media (min-width: 768px) {
                        text-align: center;
                    }
                    .titulo-pasos-traduccion {
                        * {
                            font-family: 'texgyreadventorregular';
                            color: $azul;
                            font-size: 19px;
                            line-height: 25px;
                            margin-bottom: 25px;
                        }
                    }
                }
            }
            .item-info-traducciones {
                margin-bottom: 30px;
                color: $gris;
                font-family: 'ralewaylight';
                text-align: justify;
                &:last-child {
                    margin-bottom: 0px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 50px;
                }
                .titulo-item-info {
                    * {
                        font-family: 'texgyreadventorregular';
                        color: $azul;
                        font-size: 20px;
                        line-height: 25px;
                        margin-bottom: 20px;
                        @media (min-width: 768px) {
                            text-align: center;
                        }
                    }
                }
                ul {
                    margin: 0px;
                    padding: 0px;
                    text-indent: -11px;
                    margin-left: 21px;
                    li {
                        list-style: none;
                        color: $gris;
                        text-align: justify;
                        margin-bottom: 20px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        i {
                            color: $amarillo;
                            margin-right: 12px;
                        }
                    }
                }
                &.servicios {
                    p {
                        margin-bottom: 10px;
                        i {
                            font-size: 50px;
                            color: $azul;
                        }
                    }
                    .titulo-item-info {
                        * {
                            text-align: left;
                        }
                    }
                }
            }
            .title-nuestros-servicios {
                margin: 25px 0px;
                @media (min-width: 768px) {
                    text-align: center;
                }
                .title-servicios {
                    * {
                        font-family: 'texgyreadventorregular';
                        color: $azul;
                        font-size: 20px;
                        line-height: 25px;
                        margin-bottom: 0px;
                    }
                }
            }
            .cta-solicita-presupuesto {
                margin-top: 25px;
                @include display-flex();
                @include justify-content(center);
                @media (min-width: 768px) {
                    margin-top: 0px;
                    margin-bottom: 25px;
                }
                a {
                    text-decoration: none;
                    font-family: 'texgyreadventorregular';
                    text-align: center;
                    color: $azul_light;
                    background-color: $amarillo;
                    min-width: 200px;
                    padding: 12px 15px 14px;
                    font-size: 16px;
                    line-height: 16px;
                    &:hover {
                        background-color: $azul;
                        color: $amarillo;
                    }
                }
            }
        }
    }
}