.page-id-4320 {
    header {
        .container-sobre-igc-ubic-menu {
            display: none;
        }
    }
    .cta-back-pagina {
        display: none !important;
    }
    .info-comunicacion {
        img {
            @include display-flex();
            margin: 0px auto;
        }
    }
    .container-newsletter {
        display: none;
    }
    footer {
        display: none;
    }
    .ccw_plugin.chatbot {
        display: none !important;
    }
}