.template-incompany-lista-cursos {
    .container-incompany-lista-cursos {
        margin-top: 25px;
        .cta-back-title-general-incompany-lista-cursos {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    min-width: 200px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-incompany-lista-cursos {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-incompany-lista-cursos {
            margin-top: 20px;
            min-height: 200px;
            @media (min-width: 768px) {
                min-height: 300px;
            }
            @media (min-width: 992px) {
                max-width: 800px;
                width: 100%;
                margin: 0px auto;
            }
            h3 {
                font-family: 'texgyreadventorregular';
                text-align: center;
                color: $azul;
                font-size: 25px;
            }
            .lista-cursos {
                margin: 30px 0px;
                @media (min-width: 768px) {
                    margin: 40px 0px;
                }
                .cont-lista {
                    margin-top: 25px;
                    ul {
                        margin: 0px;
                        padding: 0px;
                        text-indent: -11px;
                        margin-left: 21px;
                        li {
                            list-style: none;
                            text-align: justify;
                            margin-bottom: 20px;
                            &:last-child {
                                margin-bottom: 0px;
                            }
                            i {
                                color: $amarillo;
                                margin-right: 12px;
                            }
                            a {
                                font-family: 'ralewaylight';
                                color: $gris;
                                text-decoration: none;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}