.template-idiomas-extranjero-info {
    .container-idiomas-extranjero-info {
        margin-top: 25px;
        .cta-back-title-general-idiomas-extranjero-info {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-idiomas-extranjero-info {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 40px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-info-idiomas-extranjero-info {
            margin-top: 20px;
            @media (min-width: 992px) {
                max-width: 800px;
                width: 100%;
                margin: 0px auto;
            }
            .subtitle-idiomas-extranjero-info {
                margin-bottom: 20px;
                @media (min-width: 768px) {
                    margin-bottom: 25px;
                }
                h2 {
                    font-family: 'texgyreadventorregular';
                    color: $azul;
                    font-size: 22px;
                    line-height: 27px;
                    text-align: center;
                    margin-bottom: 0px;
                    i {
                        color: $amarillo;
                        font-size: 21px;
                        margin-right: 7px;
                    }
                }
            }
            .imagen-text-portada-idiomas-extranjero-info {
                margin-bottom: 20px;
                img {
                    width: 100%;
                    height: auto;
                }
                .text-info-idiomas-extranjero-info {
                    font-family: 'ralewaylight';
                    color: $gris;
                    text-align: justify;
                    margin: 15px 0px;
                }
                .cta-informacion {
                    max-width: 250px;
                    margin: 25px auto;
                    width: 100%;
                    a {
                        display: block;
                        font-family: 'texgyreadventorregular';
                        text-decoration: none;
                        text-align: center;
                        font-size: 16px;
                        line-height: 17px;
                        background-color: $amarillo;
                        color: $azul_light;
                        padding: 12px 0px 14px;
                        margin-bottom: 10px;
                        &:hover {
                            background-color: $azul;
                            color: $amarillo;
                        }
                    }
                }
            }
        }
    }
}