.template-formac-profesorado-info {
    .container-formac-prof-info {
        margin-top: 25px;
        .cta-back-title-general-formac-info {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-formac-prof {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 27px;
                    line-height: 34px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    @media (min-width: 768px) {
                        font-size: 35px;
                        line-height: 37px;
                    }
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-formac-prof-info {
            margin-top: 20px;
            @media (min-width: 992px) {
                max-width: 800px;
                width: 100%;
                margin: 0px auto;
            }
            .imagen-text-portada-formac-prof {
                margin-bottom: 20px;
                img {
                    width: 100%;
                    height: auto;
                }
                .text-info-formac-prof {
                    font-family: 'ralewaylight';
                    color: $gris;
                    text-align: justify;
                    margin: 15px 0px;
                }
                .cta-reserva-ahora {
                    @media (min-width: 768px) {
                        max-width: 250px;
                        width: 100%;
                        margin: 0px auto;
                    }
                    a {
                        display: block;
                        font-family: 'texgyreadventorregular';
                        text-decoration: none;
                        text-align: center;
                        font-size: 16px;
                        line-height: 17px;
                        background-color: $amarillo;
                        color: $azul_light;
                        padding: 12px 0px 14px;
                        @media (min-width: 992px) {
                            font-size: 18px;
                            line-height: 19px;
                        }
                    }
                }
            }
            .item-info-formac-prof {
                padding: 30px 0px;
                color: $gris;
                font-family: 'ralewaylight';
                text-align: justify;
                border-bottom: 2px solid $amarillo;
                &:first-child {
                    padding-top: 0px;
                }
                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0px;
                }
                h4 {
                    font-family: 'texgyreadventorregular';
                    color: $azul;
                    font-size: 20px;
                    line-height: 25px;
                    margin-bottom: 20px;
                    @include display-flex();
                    @include align-items(center);
                    i {
                        margin-right: 15px;
                        font-size: 27px;
                    }
                }
                ul {
                    margin: 0px;
                    padding: 0px;
                    text-indent: -11px;
                    margin-left: 21px;
                    li {
                        list-style: none;
                        color: $gris;
                        text-align: justify;
                        margin-bottom: 20px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        i {
                            color: $amarillo;
                            margin-right: 12px;
                        }
                    }
                }
                &.ctas {
                    a {
                        display: block;
                        font-family: 'texgyreadventorregular';
                        text-decoration: none;
                        text-align: center;
                        font-size: 16px;
                        line-height: 17px;
                        background-color: $amarillo;
                        color: $azul_light;
                        padding: 12px 10px 14px;
                        margin-bottom: 17px;
                        @media (min-width: 480px) {
                            max-width: 330px;
                            width: 100%;
                            margin: 0px auto 17px;
                        }
                        @media (min-width: 992px) {
                            font-size: 18px;
                            line-height: 22px;
                        }
                        &:hover {
                            background-color: $azul;
                            color: $amarillo;
                        }
                    }
                }
            }
        }
    }
}