.template-clases-conver {
    .container-clases-conver {
        margin-top: 25px;
        .cta-back-title-general-clases-conver {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-clases-conver {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 30px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-info-clases-conver {
            margin-top: 20px;
            @media (min-width: 992px) {
                max-width: 800px;
                width: 100%;
                margin: 0px auto;
            }
            .texto-info {
                margin-top: 50px;
                text-align: center;
                * {
                    font-family: 'ralewaylight';
                }
            }
            .ctas-clases-conver {
                padding: 10px 0px 25px;
                @media (min-width: 768px) {
                    padding: 50px 0px 60px;
                    @include display-flex();
                    @include justify-content(space-evenly);
                }
                @media (min-width: 1200px) {
                    padding: 60px 0px 70px;
                }
                a {
                    display: block;
                    font-family: 'texgyreadventorregular';
                    text-decoration: none;
                    text-align: center;
                    font-size: 16px;
                    line-height: 17px;
                    background-color: $amarillo;
                    color: $azul_light;
                    padding: 12px 0px 14px;
                    margin-bottom: 25px;
                    @media (min-width: 768px) {
                        margin-bottom: 0px;
                        min-width: 200px;
                        font-size: 18px;
                        line-height: 19px;
                    }
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    @media (min-width: 992px) {
                        font-size: 18px;
                        line-height: 19px;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}