.page-template-template-contacto-orion {
    .site-content {
        margin-bottom: 0px;
    }
    .container-newsletter {
        display: none;
    }
}

.template-contacto-orion {
    .container-contacto-orion {
        margin-top: 25px;
        .cta-back-title-general-contacto-orion {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-contacto-orion {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-info-contacto-orion {
            margin-top: 20px;
            .texto-contacto {
                font-family: 'ralewaylight';
                color: $azul_light;
                margin-bottom: 25px;
                @media (min-width: 1200px) {
                    max-width: 1200px;
                    width: 100%;
                    margin: 0px auto 25px;
                }
                h3 {
                    font-size: 20px;
                    line-height: 27px;
                    margin-bottom: 0px;
                }
            }
            .imagen-mobile {
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .container-bg-formulario {
                @media (max-width: 1199px) {
                    background-image: none !important;
                }
                @media (min-width: 1200px) {
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    margin-left: -15px;
                    margin-right: -15px;
                    @include display-flex();
                    @include justify-content(center);
                }
                .formulario {
                    margin: 30px 0px;
                    @media (min-width: 992px) {
                        max-width: 700px;
                        width: 100%;
                        margin: 30px auto 30px;
                    }
                    @media (min-width: 1200px) {
                        max-width: 500px;
                        margin: 0px;
                        padding: 60px 0px;
                    }
                    form {
                        font-family: 'ralewaylight';
                        @media (min-width: 1200px) {
                            padding: 25px;
                            border: 1px solid $azul_light;
                            background: #fff;
                        }
                        input,
                        select,
                        textarea {
                            width: 100%;
                            display: block;
                            padding: 9px;
                            border: 1px solid #ced4da;
                            border-radius: 4px;
                            font-size: 14px;
                            color: $gris;
                            background: #fff;
                            margin-bottom: 16px;
                            &::-webkit-input-placeholder {
                                color: $gris;
                                opacity: 1;
                            }
                            &:-moz-placeholder {
                                color: $gris;
                                opacity: 1;
                            }
                            &::-moz-placeholder {
                                color: $gris;
                                opacity: 1;
                            }
                            &:-ms-input-placeholder {
                                color: $gris;
                                opacity: 1;
                            }
                        }
                        select {
                            height: 41px;
                        }
                        textarea {
                            resize: none;
                        }
                        .check_cform_text {
                            font-family: 'texgyreadventorregular';
                            font-size: 14px;
                            color: $azul_light;
                            @include display-flex();
                            @include align-items(center);
                            margin-bottom: 7px;
                            input {
                                width: auto;
                                height: auto;
                                margin-right: 7px;
                                margin-bottom: 0px;
                            }
                            label {
                                margin-bottom: 0px;
                            }
                            a {
                                color: $azul_light;
                                text-decoration: underline;
                            }
                        }
                        .button-submit {
                            @include display-flex();
                            @include flex-direction(column);
                            @include align-items(flex-end);
                            margin-top: 30px;
                            a {
                                font-family: 'texgyreadventorregular';
                                background: $amarillo;
                                color: $azul_light;
                                width: 140px;
                                max-width: 100%;
                                text-align: center;
                                border: none;
                                border-radius: 4px;
                                text-decoration: none;
                                padding: 7px 5px 10px 5px;
                                font-size: 18px;
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}