.template-exam-oficiales-info {
    .container-exam-oficiales-info {
        margin-top: 25px;
        .cta-back-title-general-exam-info {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-exam {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 27px;
                    line-height: 34px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    @media (min-width: 768px) {
                        font-size: 35px;
                        line-height: 37px;
                    }
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-info-exam-oficiales {
            margin-top: 20px;
            @media (min-width: 992px) {
                max-width: 800px;
                width: 100%;
                margin: 0px auto;
            }
            .imagen-text-cta-portada-exam {
                margin-bottom: 20px;
                img {
                    width: 100%;
                    height: auto;
                }
                .text-info-exam {
                    font-family: 'ralewaylight';
                    color: $gris;
                    text-align: justify;
                    margin: 15px 0px;
                }
                .cta-reserva-ahora {
                    @media (min-width: 768px) {
                        max-width: 250px;
                        width: 100%;
                        margin: 0px auto;
                    }
                    a {
                        display: block;
                        font-family: 'texgyreadventorregular';
                        text-decoration: none;
                        text-align: center;
                        font-size: 16px;
                        line-height: 17px;
                        background-color: $amarillo;
                        color: $azul_light;
                        padding: 12px 0px 14px;
                        @media (min-width: 992px) {
                            font-size: 18px;
                            line-height: 19px;
                        }
                    }
                }
            }
            .item-info-exam {
                margin-bottom: 20px;
                color: $gris;
                font-family: 'ralewaylight';
                text-align: justify;
                .cont-titulo {
                    @include display-flex();
                    @include align-items(center);
                    margin-bottom: 20px;
                    i {
                        margin-right: 15px;
                        font-size: 27px;
                        color: $azul;
                    }
                    .titulo {
                        * {
                            font-family: 'texgyreadventorregular';
                            color: $azul;
                            font-size: 20px;
                            line-height: 25px;
                            margin-bottom: 0px;
                        }
                    }
                }
                ul {
                    margin: 0px;
                    padding: 0px;
                    text-indent: -11px;
                    margin-left: 21px;
                    li {
                        list-style: none;
                        color: $gris;
                        text-align: justify;
                        margin-bottom: 20px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        i {
                            color: $amarillo;
                            margin-right: 12px;
                        }
                    }
                }
                .table-info-exam {
                    overflow-x: auto;
                    font-family: 'ralewaylight';
                    padding: 0px 5px;
                    color: $gris;
                    table {
                        width: 100%;
                        thead {
                            font-family: 'texgyreadventorregular';
                            text-align: center;
                            tr {
                                th {
                                    color: $gris;
                                    border: 2px solid $amarillo;
                                }
                            }
                        }
                        tbody {
                            text-align: center;
                            tr {
                                th {
                                    border: 2px solid $amarillo;
                                    color: $azul;
                                    font-family: 'texgyreadventorregular';
                                    font-weight: 400;
                                }
                                td {
                                    border: 2px solid $amarillo;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}