.template-cursos-incompany {
    .container-cursos-incompany {
        margin-top: 25px;
        .cta-back-title-general-cursos-incompany {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-cursos-incompany {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-cursos-incompany {
            margin-top: 20px;
            @media (min-width: 992px) {
                max-width: 800px;
                width: 100%;
                margin: 0px auto;
            }
            h3 {
                font-family: 'texgyreadventorregular';
                text-align: center;
                color: $azul;
                font-size: 25px;
            }
            .container-list-idiomas {
                margin-top: 35px;
                text-align: center;
                @media (min-width: 768px) {
                    margin-top: 50px;
                    @include display-flex();
                    @include justify-content(center);
                }
                @media (min-width: 1200px) {
                    margin-bottom: 35px;
                }
                .list-idiomas {
                    @media (min-width: 768px) {
                        max-width: 700px;
                        width: 100%;
                        @include display-flex();
                        @include flex-wrap(wrap);
                        @include justify-content(space-between);
                    }
                    .cont-item-language {
                        @include display-flex();
                        @include justify-content(center);
                        margin-bottom: 30px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        @media (min-width: 768px) {
                            flex: 1 0 33%;
                            margin-bottom: 60px;
                        }
                        a {
                            display: block;
                            max-width: 130px;
                            width: 100%;
                            text-decoration: none;
                            @media (min-width: 768px) {
                                margin: 0px;
                                max-width: 110px;
                            }
                            @media (min-width: 1200px) {
                                max-width: 90px;
                            }
                            .item-language {
                                img {
                                    max-width: 120px;
                                    width: 100%;
                                    height: auto;
                                    margin-bottom: 15px;
                                    @media (min-width: 768px) {
                                        max-width: 100px;
                                    }
                                    @media (min-width: 1200px) {
                                        max-width: 80px;
                                    }
                                }
                                p {
                                    font-family: 'ralewaylight';
                                    color: $azul;
                                    font-size: 21px;
                                    line-height: 23px;
                                    margin-bottom: 0px;
                                    @media (min-width: 1200px) {
                                        font-size: 19px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}