.template-actividades-campa-verano {
    .container-clase-info {
        &.activ-campa-verano {
            @media (min-width: 1200px) {
                max-width: 1200px !important;
            }
        }
        .cont-clase-info {
            .clase-info {
                .info {
                    &.right {
                        margin-top: 25px;
                        @media (min-width: 992px) {
                            margin-top: 0px;
                            height: 100%;
                        }
                    }
                    .ctas-campa-verano-actividades {
                        a {
                            display: block;
                            font-family: 'texgyreadventorregular';
                            text-decoration: none;
                            text-align: center;
                            font-size: 16px;
                            line-height: 17px;
                            background-color: $amarillo;
                            color: $azul_light;
                            padding: 12px 0px 14px;
                            margin-bottom: 10px;
                            &:last-child {
                                margin-bottom: 0px;
                            }
                            @media (min-width: 992px) {
                                font-size: 18px;
                                line-height: 19px;
                            }
                        }
                    }
                    .lista-actividades-camp-verano {
                        @media (min-width: 992px) {
                            height: 100%;
                            @include display-flex();
                            @include flex-direction(column);
                            @include justify-content(center);
                            padding: 0px 25px;
                        }
                        @media (min-width: 1200px) {
                            padding: 0px 80px;
                        }
                        .actividad {
                            margin-bottom: 30px;
                            @media (min-width: 992px) {
                                @include display-flex();
                                @include align-items(center);
                            }
                            &:last-child {
                                margin-bottom: 0px;
                            }
                            .imagen {
                                @include display-flex();
                                @include justify-content(center);
                                margin-bottom: 10px;
                                @media (min-width: 992px) {
                                    margin-bottom: 0px;
                                    margin-right: 20px;
                                }
                                .bg-imagen {
                                    width: 200px;
                                    height: 200px;
                                    border-radius: 200px;
                                    background-size: cover;
                                    background-position: center center;
                                    background-repeat: no-repeat;
                                    @media (min-width: 992px) {
                                        width: 170px;
                                        height: 170px;
                                        border-radius: 170px;
                                    }
                                }
                            }
                            .info {
                                font-family: 'ralewaylight';
                                color: $gris;
                                text-align: justify;
                                @media (min-width: 992px) {
                                    padding: 0px 15px;
                                }
                                h3 {
                                    font-family: 'texgyreadventorregular';
                                    color: $azul;
                                    font-size: 23px;
                                    line-height: 28px;
                                    margin-bottom: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}