.template-test-nivel {
    .container-test-nivel {
        margin-bottom: 25px;
        .cta-back-title-test-nivel {
            .cta-back-pagina {
                margin: 30px 0px;
                padding: 0px 15px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-test {
                text-align: center;
                margin: 30px 0px;
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        h2 {
            font-family: 'ralewaylight';
            color: $azul;
            text-align: center;
            margin: 30px 0px;
        }
        .container-general-items-languages {
            @media (min-width: 992px) {
                @include display-flex();
                @include justify-content(center);
            }
            &.niños {
                display: none;
            }
            .container-items {
                @media (min-width: 768px) {
                    @include display-flex();
                    @include flex-wrap(wrap);
                }
                @media (min-width: 992px) {
                    max-width: 800px;
                    width: 100%;
                }
                @media (min-width: 1200px) {
                    max-width: 1100px;
                }
                .cont-item {
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    @media (min-width: 768px) {
                        flex: 1 0 50%;
                        margin-bottom: 0px;
                        padding: 0px 9px 25px 9px;
                    }
                    @media (min-width: 1200px) {
                        flex: 1 0 25%;
                        @include display-flex();
                        @include justify-content(center);
                    }
                    .item-language {
                        border: 1px solid $azul_light;
                        padding: 15px;
                        box-shadow: 0 0 15px #D7D7D7;
                        width: 100%;
                        @media (min-width: 768px) {
                            max-width: 327px;
                        }
                        @media (min-width: 992px) {
                            max-width: 382px;
                        }
                        @media (min-width: 1200px) {
                            max-width: 257px;
                        }
                        img {
                            width: 100%;
                            min-height: 170px;
                            border: 1px solid $gris;
                            @media (min-width: 768px) {
                                min-height: 200px;
                            }
                            @media (min-width: 992px) {
                                min-height: 220px;
                            }
                            @media (min-width: 1200px) {
                                min-height: 150px;
                            }
                        }
                        h3 {
                            font-family: 'ralewaylight';
                            color: $gris;
                            margin: 15px 0px;
                            text-align: center;
                            font-size: 23px;
                        }
                        a {
                            display: block;
                            font-family: 'texgyreadventorregular';
                            text-decoration: none;
                            text-align: center;
                            font-size: 19px;
                            line-height: 22px;
                            background-color: $amarillo;
                            color: $azul_light;
                            padding: 12px 0px 14px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}