.template-landing-test-nivel-gratis {
    .container-landing-test-nivel-gratis {
        margin-top: 25px;
        .container-general-info-landing-test-nivel-gratis {
            .imagen-portada-mobile-tablet {
                margin-top: 25px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .container-info-test-mobile-tablet {
                background-color: $azul_light;
                color: #fff;
                text-align: center;
                padding: 14px;
                border-radius: 25px;
                max-width: 100%;
                width: 100%;
                margin: 10px auto 0px;
                @media (min-width: 480px) {
                    max-width: 270px;
                    width: 100%;
                }
                @media (min-width: 768px) {
                    max-width: 300px;
                    margin: 25px auto 0px;
                }
                .image-icon-test-texto {
                    @include display-flex();
                    @include justify-content(space-between);
                    @include align-items(center);
                    img {
                        width: 100%;
                        height: auto;
                        max-width: 95px;
                        margin-right: 10px;
                    }
                    .cont-conoce-nivel-text {
                        @include display-flex();
                        @include justify-content(center);
                        .texto-test {
                            * {
                                font-family: 'Helvetica Neue';
                                max-width: 200px;
                                width: 100%;
                                font-size: 21px;
                                line-height: 28px;
                                margin-bottom: 0px;
                                @media (min-width: 768px) {
                                    font-size: 29px;
                                    line-height: 40px;
                                }
                            }
                        }
                    }
                }
                .cta-empieza-test {
                    display: block;
                    text-decoration: none;
                    font-family: 'tex_gyre_adventorbold';
                    background-color: $rojo;
                    color: #fff;
                    width: 100%;
                    font-size: 21px;
                    padding: 7px 12px 10px 12px;
                    margin-top: 15px;
                }
            }
            .container-portada-test {
                @media (min-width: 768px) {
                    @include display-flex();
                    @include justify-content(center);
                }
                @media (min-width: 1200px) {
                    margin-top: 30px;
                }
                &.imagen-bg {
                    @media (min-width: 1200px) {
                        position: relative;
                        @include justify-content(flex-end);
                        background-size: cover;
                        background-repeat: no-repeat;
                        border-top-right-radius: 25px;
                        border-bottom-right-radius: 25px;
                    }
                }
                .container-info-test {
                    background-color: $azul_light;
                    color: #fff;
                    text-align: center;
                    padding: 20px;
                    border-radius: 25px;
                    box-shadow: 3px 6px 4px #D7D7D7;
                    @media (min-width: 480px) {
                        max-width: 270px;
                        width: 100%;
                    }
                    img {
                        max-width: 220px;
                        width: 100%;
                        height: auto;
                    }
                    .cont-conoce-nivel-text {
                        @include display-flex();
                        @include justify-content(center);
                        .texto-test {
                            * {
                                font-family: 'Helvetica Neue';
                                max-width: 200px;
                                width: 100%;
                                font-size: 28px;
                                line-height: 35px;
                                margin-bottom: 0px;
                            }
                        }
                    }
                    .cta-empieza-test {
                        display: block;
                        text-decoration: none;
                        font-family: 'tex_gyre_adventorbold';
                        background-color: $rojo;
                        color: #fff;
                        width: 100%;
                        font-size: 25px;
                        padding: 7px 12px 10px 12px;
                        margin-top: 15px;
                    }
                }
            }
            .title-principal-test {
                margin-top: 13px;
                margin-bottom: 20px;
                @media (min-width: 768px) {
                    text-align: center;
                }
                @media (min-width: 1200px) {
                    margin-top: 23px;
                }
                .titulo {
                    * {
                        font-family: 'tex_gyre_adventorbold';
                        font-size: 29px;
                        line-height: 36px;
                        margin-bottom: 0px;
                        @media (min-width: 768px) {
                            font-size: 37px;
                            line-height: 55px;
                        }
                        @media (min-width: 1200px) {
                            font-size: 42px;
                            line-height: 52px;
                        }
                    }
                }
            }
            .cont-info-promocion {
                margin-top: 13px;
                @media (min-width: 1200px) {
                    margin-top: 35px;
                }
                .info-promocion {
                    font-family: 'ralewaylight';
                    color: $gris;
                    .titulo {
                        * {
                            font-family: 'texgyreadventorregular';
                            color: $azul;
                            font-size: 20px;
                            line-height: 25px;
                            text-align: center;
                            margin-bottom: 20px;
                            @media (min-width: 768px) {
                                text-align: left;
                                font-size: 25px;
                                line-height: 30px;
                                margin-bottom: 25px;
                            }
                        }
                    }
                }
            }
            .item-info {
                margin-top: 13px;
                @media (min-width: 768px) {
                    margin-top: 25px;
                }
                &.que-dicen-nosotros {
                    .videos {
                        @media (min-width: 768px) {
                            @include display-flex();
                        }
                        iframe {
                            width: 100%;
                            height: auto;
                            margin-bottom: 15px;
                            @media (min-width: 480px) {
                                height: 250px;
                            }
                            @media (min-width: 768px) {
                                margin-bottom: 0px;
                                margin-right: 15px;
                            }
                            @media (min-width: 1200px) {
                                height: 300px;
                            }
                            &:last-child {
                                margin-bottom: 0px;
                                @media (min-width: 768px) {
                                    margin-right: 0px;
                                }
                            }
                        }
                    }
                }
                &.cont-mapas {
                    .mapas {
                        @media (min-width: 992px) {
                            @include display-flex();
                            @include justify-content(center);
                        }
                        .row {
                            margin-bottom: 15px;
                            padding: 0px 15px;
                            @media (min-width: 992px) {
                                margin-right: 0px;
                                margin-left: 0px;
                            }
                            &:first-child {
                                @media (min-width: 992px) {
                                    margin-left: -15px;
                                }
                            }
                            &:last-child {
                                margin-bottom: 0px;
                                @media (min-width: 992px) {
                                    margin-right: -15px;
                                }
                            }
                            iframe {
                                width: 100%;
                                height: auto;
                                @media (min-width: 480px) {
                                    height: 250px;
                                }
                                @media (min-width: 768px) {
                                    height: 350px;
                                }
                                @media (min-width: 992px) {
                                    height: 300px;
                                }
                                @media (min-width: 1200px) {
                                    width: 350px;
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
                .titulo {
                    * {
                        font-family: 'texgyreadventorregular';
                        color: $azul;
                        font-size: 20px;
                        line-height: 25px;
                        text-align: center;
                        margin-bottom: 20px;
                        @media (min-width: 768px) {
                            text-align: left;
                            font-size: 25px;
                            line-height: 30px;
                            margin-bottom: 25px;
                        }
                    }
                }
                .texto {
                    * {
                        font-family: 'ralewaylight';
                        color: $gris;
                    }
                }
                ul {
                    margin: 0px;
                    margin-left: 0px;
                    padding: 0px;
                    text-indent: -11px;
                    margin-left: 21px;
                    li {
                        font-family: 'ralewaylight';
                        list-style: none;
                        color: $gris;
                        margin-bottom: 20px;
                        i {
                            color: $amarillo;
                            margin-right: 12px;
                        }
                    }
                }
                &.imagenes-partners {
                    text-align: center;
                    padding-bottom: 15px;
                    .titulo {
                        * {
                            font-family: 'tex_gyre_adventorbold';
                            color: $azul;
                            text-align: center;
                            font-size: 23px;
                            margin-bottom: 25px;
                            @media (min-width: 768px) {
                                font-size: 25px;
                            }
                        }
                    }
                    .partners {
                        ul {
                            @include display-flex();
                            @include flex-direction(column);
                            @include align-items(center);
                            margin: 0px;
                            @media (min-width: 768px) {
                                @include display-flex();
                                @include flex-direction(row);
                                @include justify-content(space-around);
                            }
                            li {
                                @media (min-width: 768px) {
                                    margin-bottom: 0px;
                                }
                                img {
                                    max-width: 170px;
                                    width: 100%;
                                    height: auto;
                                    margin-bottom: 25px;
                                    @media (min-width: 768px) {
                                        max-width: 150px;
                                        margin-bottom: 0px;
                                    }
                                    @media (min-width: 1200px) {
                                        max-width: 180px;
                                    }
                                    &:last-child {
                                        margin-bottom: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}