.template-extraesco-campa-verano {
    .cta-back-title-general-curso {
        .title-curso.title-extraesco-campa-verano {
            @media (min-width: 1200px) {
                margin-bottom: 60px;
            }
        }
    }
    .cont-portada-campamento-verano {
        margin: 30px 0px;
        @media (min-width: 992px) {
            @include display-flex();
            @include flex-direction(column);
            @include align-items(center);
        }
        @media (min-width: 1200px) {
            margin: 30px 0px 0px;
        }
        .item-info-campa-verano {
            font-family: 'ralewaylight';
            color: $gris;
            text-align: justify;
            margin-bottom: 20px;
            @media (min-width: 992px) {
                max-width: 900px;
                width: 100%;
            }
            &:last-child {
                margin-bottom: 0px;
            }
            h3 {
                font-family: 'texgyreadventorregular';
                color: $azul;
                font-size: 22px;
                line-height: 28px;
            }
            h4 {
                font-family: 'texgyreadventorregular';
                color: $gris;
                font-size: 19px;
                line-height: 24px;
                margin-bottom: 20px;
            }
            &.imagen-principal {
                @include display-flex();
                @include justify-content(center);
                @media (min-width: 768px) {
                    margin-bottom: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 50px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    max-width: 250px;
                    @media (min-width: 768px) {
                        max-width: 350px;
                    }
                }
            }
            &.aprender-ingles-gc {
                .content-text {
                    margin-top: 20px;
                }
            }
            ul {
                margin: 0px;
                padding: 0px;
                text-indent: -11px;
                margin-left: 21px;
                li {
                    list-style: none;
                    margin-bottom: 20px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    i {
                        color: $amarillo;
                        margin-right: 12px;
                    }
                    a {
                        font-family: 'ralewaylight';
                        color: $gris;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    &.template-cursos {
        .container-general-class {
            .container-clases {
                @media (min-width: 1200px) {
                    padding: 60px 0px 20px;
                }
            }
            &.campa-verano {
                // due to hidden discover nature camp
                .container-clases {
                    @media (min-width: 768px) {
                        @include flex-wrap(nowrap);
                        @include justify-content(center);
                    }
                    .cont-clase {
                        @media (min-width: 768px) {
                            flex: initial;
                        }
                    }
                }
            }
        }
    }
    .cta-revista-campa-verano {
        margin-top: 25px;
        @include display-flex();
        @include justify-content(center);
        @media (min-width: 768px) {
            margin-top: 0px;
            margin-bottom: 25px;
        }
        a {
            text-decoration: none;
            font-family: 'ralewaylight';
            text-align: center;
            color: $amarillo;
            background-color: $azul;
            min-width: 200px;
            padding: 12px 15px 14px;
            font-size: 16px;
            line-height: 16px;
        }
    }
}