.template-extra-campa-verano-info {
    .container-clase-info {
        &.info-campa-verano {
            @media (min-width: 1200px) {
                max-width: 1200px !important;
            }
        }
        .cont-clase-info {
            .clase-info {
                .info {
                    &.right {
                        margin-top: 25px;
                        @media (min-width: 992px) {
                            margin-top: 0px;
                        }
                    }
                    .ctas-campa-verano-info {
                        a {
                            display: block;
                            font-family: 'texgyreadventorregular';
                            text-decoration: none;
                            text-align: center;
                            font-size: 16px;
                            line-height: 17px;
                            background-color: $amarillo;
                            color: $azul_light;
                            padding: 12px 0px 14px;
                            margin-bottom: 10px;
                            &:last-child {
                                margin-bottom: 0px;
                            }
                            @media (min-width: 992px) {
                                font-size: 18px;
                                line-height: 19px;
                            }
                        }
                    }
                    .container-ubicacion {
                        padding-bottom: 30px;
                        h3 {
                            font-family: 'ralewaylight';
                            font-size: 22px;
                            line-height: 28px;
                            font-weight: 800;
                            color: $azul;
                            @include display-flex();
                            @include align-items(center);
                            margin-bottom: 15px;
                            i {
                                font-size: 27px;
                                line-height: 37px;
                                margin-right: 10px;
                            }
                        }
                        .item-info-ubica {
                            font-family: 'ralewaylight';
                            color: $gris;
                            text-align: justify;
                            h4 {
                                font-family: 'texgyreadventorregular';
                                font-size: 19px;
                                line-height: 26px;
                                color: $azul_light;
                                margin-bottom: 15px;
                            }
                            ul {
                                margin: 0px;
                                padding: 0px;
                                text-indent: -11px;
                                margin-left: 21px;
                                li {
                                    list-style: none;
                                    color: $gris;
                                    margin-bottom: 20px;
                                    &:last-child {
                                        margin-bottom: 0px;
                                    }
                                    i {
                                        color: $amarillo;
                                        margin-right: 12px;
                                    }
                                }
                            }
                        }
                    }
                    .container-calendario-precios-metod {
                        padding-top: 30px;
                        border-top: 4px solid #F7B051;
                        h3 {
                            font-family: 'ralewaylight';
                            font-size: 22px;
                            line-height: 28px;
                            font-weight: 800;
                            color: $azul;
                            @include display-flex();
                            @include align-items(center);
                            margin-bottom: 15px;
                            i {
                                font-size: 27px;
                                line-height: 37px;
                                margin-right: 10px;
                            }
                        }
                        .info-text {
                            font-family: 'ralewaylight';
                            color: $gris;
                            text-align: justify;
                        }
                        .cont-lista-semanas-precios {
                            margin-top: 17px;
                            font-family: 'ralewaylight';
                            .lista-semanas {
                                ul {
                                    margin: 0px;
                                    padding: 0px;
                                    text-indent: -11px;
                                    margin-left: 21px;
                                    li {
                                        list-style: none;
                                        color: $azul_light;
                                        text-align: justify;
                                        margin-bottom: 20px;
                                        &:last-child {
                                            margin-bottom: 0px;
                                        }
                                        i {
                                            color: $amarillo;
                                            margin-right: 12px;
                                        }
                                    }
                                }
                            }
                            .container-semana-precios-detalles {
                                border: 2px solid $azul_light;
                                padding: 20px;
                                margin-top: 25px;
                                font-family: 'ralewaylight';
                                text-align: justify;
                                @media (min-width: 1200px) {
                                    margin-top: 0px;
                                }
                                .symbol-euro {
                                    margin-bottom: 12px;
                                    i {
                                        color: $azul;
                                        font-size: 45px;
                                    }
                                }
                                .cont-semana-precio-detalles {
                                    color: $gris;
                                    @media (min-width: 768px) {
                                        @include display-flex();
                                        @include justify-content(space-around);
                                    }
                                    @media (min-width: 992px) {
                                        display: block;
                                    }
                                    .lista-semanas-precios {
                                        ul {
                                            margin: 0px;
                                            padding: 0px;
                                            text-indent: -11px;
                                            margin-left: 21px;
                                            li {
                                                list-style: none;
                                                margin-bottom: 2px;
                                                &:last-child {
                                                    margin-bottom: 0px;
                                                }
                                                i {
                                                    color: $amarillo;
                                                    margin-right: 12px;
                                                }
                                            }
                                        }
                                    }
                                    .detalles-precios {
                                        color: $gris;
                                        margin-top: 20px;
                                        @media (min-width: 768px) {
                                            margin-top: 0px;
                                        }
                                        @media (min-width: 992px) {
                                            margin-top: 20px;
                                        }
                                    }
                                    .texto-igic {
                                        * {
                                            margin-top: 25px;
                                            margin-bottom: 0px;
                                            text-align: right;
                                            font-style: italic;
                                            font-size: 15px;
                                        }
                                    }
                                }
                            }
                        }
                        .cont-metodologia {
                            margin-top: 17px;
                            font-family: 'ralewaylight';
                            color: $gris;
                            text-align: justify;
                            h3 {
                                font-family: 'ralewaylight';
                                font-size: 22px;
                                line-height: 28px;
                                font-weight: 800;
                                color: $azul;
                                @include display-flex();
                                @include align-items(center);
                                margin-bottom: 15px;
                                i {
                                    font-size: 27px;
                                    line-height: 37px;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}