/*.page-template-template-landing-concurso {
    header {
        .menu-mobile {
            display: none;
        }
    }
}*/

.template-landing-concurso {
    .container-landing-concurso {
        .container-general-header {
            position: fixed;
            max-width: 1280px;
            width: 100%;
            z-index: 999;
            margin: 0px -15px;
            display: none;
            @media (min-width: 992px) {
                display: block;
            }
            .cont-header {
                max-width: 1280px;
                margin: auto;
                z-index: 999;
                background-color: rgba($color: $azul, $alpha: 0.8);
                padding: 5px 0px 6px 0px;
                .navbar {
                    font-family: 'ralewaylight';
                    .navbar-brand {
                        @media (min-width: 992px) {
                            display: none;
                        }
                    }
                    .navbar-toggler {
                        border-color: #fff;
                        color: #fff;
                        padding: 10px;
                        .icon-bar {
                            display: block;
                            width: 22px;
                            height: 2px;
                            border-radius: 1px;
                            background-color: #fff;
                        }
                        .icon-bar+.icon-bar {
                            margin-top: 4px;
                        }
                    }
                    .navbar-collapse {
                        ul {
                            margin: 10px 0px 0px 0px;
                            padding: 0px;
                            @media (min-width: 992px) {
                                margin-top: 0px;
                                width: 100%;
                                @include justify-content(space-between);
                            }
                            li {
                                text-align: center;
                                @media (min-width: 992px) {
                                    border: 1px solid #fff;
                                    width: 160px;
                                    max-width: 100%;
                                    @include display-flex();
                                    @include justify-content(center);
                                    @include align-items(center);
                                }
                                @media (min-width: 1200px) {
                                    width: 200px;
                                }
                                a {
                                    text-decoration: none;
                                    color: #fff;
                                    font-size: 17px;
                                    @media (min-width: 992px) {
                                        font-size: 15px;
                                    }
                                    @media (min-width: 1200px) {
                                        width: 100%;
                                    }
                                    &:hover {
                                        color: #fff;
                                        @media (min-width: 1200px) {
                                            background-color: $azul;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .container-general-info-landing-concurso {
            font-family: 'ralewaylight';
            color: $gris;
            text-align: justify;
            .container-portada {
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                height: 300px;
                position: relative;
                margin: 0px -15px;
                @media (min-width: 768px) {
                    background-position: center top;
                    height: 450px;
                }
                @media (min-width: 992px) {
                    background-position: center center;
                    height: 500px;
                }
                .title-subtitle-portada {
                    font-family: 'tex_gyre_adventorbold';
                    position: absolute;
                    bottom: 10px;
                    padding: 15px;
                    @media (min-width: 480px) {
                        right: 10px;
                    }
                    @media (min-width: 768px) {
                        bottom: 20px;
                        right: 25px;
                    }
                    @media (min-width: 1200px) {
                        bottom: 30px;
                        right: 50px;
                    }
                    div {
                        background-color: rgba($color: $azul, $alpha: 0.6);
                        padding: 10px 10px 15px 10px;
                        margin-bottom: 10px;
                        box-shadow: -3px 3px 7px #000;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                    }
                    .title {
                        * {
                            font-size: 28px;
                            line-height: 35px;
                            margin-bottom: 0px;
                            color: #fff;
                            @media (min-width: 768px) {
                                font-size: 32px;
                                line-height: 40px;
                            }
                            @media (min-width: 1200px) {
                                font-size: 38px;
                            }
                        }
                    }
                    .subtitle {
                        * {
                            font-size: 32px;
                            line-height: 37px;
                            margin-bottom: 0px;
                            color: $amarillo;
                            @media (min-width: 768px) {
                                font-size: 36px;
                                line-height: 48px;
                            }
                            @media (min-width: 1200px) {
                                font-size: 42px;
                            }
                        }
                    }
                }
            }
            .section {
                padding-bottom: 20px;
                &:first-child {
                    padding: 0px;
                    @media (min-width: 1200px) {
                        height: 100vh;
                        width: 100%;
                    }
                }
                &:last-child {
                    padding-bottom: 0px;
                }
                @media (min-width: 992px) {
                    padding: 200px 0px;
                }
                @media (min-width: 1200px) {
                    height: 100%;
                    width: 100%;
                }
                &.one {
                    padding-bottom: 0px;
                }
                .cont-info {
                    .item-info {
                        padding-bottom: 30px;
                        border-bottom: 5px solid $amarillo;
                        @media (min-width: 992px) {
                            padding-bottom: 190px;
                        }
                        &:last-child {
                            padding-top: 30px;
                            padding-bottom: 0px;
                            border-bottom: none;
                            @media (min-width: 992px) {
                                padding-top: 190px;
                            }
                        }
                    }
                    &.imagen {
                        @media (min-width: 992px) {
                            height: 100%;
                        }
                    }
                    &.flex-center {
                        @media (min-width: 992px) {
                            height: 100%;
                            @include display-flex();
                            @include flex-direction(column);
                            @include justify-content(center);
                        }
                    }
                    .cont-imagen {
                        @media (min-width: 992px) {
                            height: 100%;
                            @include display-flex();
                            @include justify-content(center);
                            @include align-items(center);
                        }
                        &.vertical {
                            @include flex-direction(column);
                        }
                        .imagen {
                            margin-bottom: 10px;
                            text-align: center;
                            @media (min-width: 768px) {
                                margin-bottom: 15px;
                            }
                            @media (min-width: 992px) {
                                margin-bottom: 0px;
                            }
                        }
                    }
                    .title {
                        * {
                            font-family: 'texgyreadventorregular';
                            color: $azul;
                            font-size: 28px;
                            line-height: 37px;
                            margin-bottom: 20px;
                            text-align: left;
                            @media (min-width: 768px) {
                                font-size: 32px;
                                line-height: 41px;
                            }
                            @media (min-width: 1200px) {
                                font-size: 43px;
                                line-height: 53px;
                            }
                        }
                        &.centrado {
                            * {
                                max-width: 100%;
                                text-align: center;
                            }
                        }
                    }
                    .texto {
                        * {
                            font-family: 'ralewaylight';
                            color: $gris;
                            line-height: 22px;
                            margin-bottom: 20px;
                        }
                        ol {
                            padding: 0px 5px;
                        }
                        p {
                            &:last-child {
                                margin-bottom: 0px;
                            }
                        }
                    }
                    .imagen {
                        margin-top: 20px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                        &.form {
                            margin: 0px -15px 20px;
                            @media (min-width: 992px) {
                                margin: 0px 0px 20px 0px;
                                @include display-flex();
                                @include justify-content(center);
                            }
                            img {
                                @media (min-width: 992px) {
                                    max-width: 550px;
                                    height: 100%;
                                }
                            }
                        }
                    }
                    .lista-info {
                        ul {
                            font-family: 'ralewaylight';
                            color: $gris;
                            line-height: 22px;
                            padding-left: 11px;
                            text-indent: -10px;
                            margin-left: 17px;
                            margin-bottom: 0px;
                            li {
                                list-style: none;
                                margin-bottom: 12px;
                                &:last-child {
                                    margin-bottom: 0px;
                                }
                                i {
                                    color: $amarillo;
                                    font-size: 19px;
                                    margin-right: 7px;
                                }
                                .rrss {
                                    display: inline-block;
                                    i {
                                        color: $azul;
                                        font-size: 16px;
                                        margin-right: 0px;
                                        margin-left: 28px;
                                    }
                                }
                            }
                        }
                    }
                    .formulario {
                        margin: 0px -15px;
                        @media (min-width: 992px) {
                            margin: 0px;
                            @include display-flex();
                            @include justify-content(center);
                        }
                        .wpcf7 {
                            font-family: 'ralewaylight';
                            @media (min-width: 992px) {
                                max-width: 550px;
                                width: 100%;
                            }
                            input,
                            select,
                            textarea {
                                width: 100%;
                                display: block;
                                padding: 9px;
                                border: 1px solid #ced4da;
                                border-radius: 4px;
                                font-size: 14px;
                                color: $gris;
                                background: #fff;
                                &::-webkit-input-placeholder {
                                    color: $gris;
                                    opacity: 1;
                                }
                                &:-moz-placeholder {
                                    color: $gris;
                                    opacity: 1;
                                }
                                &::-moz-placeholder {
                                    color: $gris;
                                    opacity: 1;
                                }
                                &:-ms-input-placeholder {
                                    color: $gris;
                                    opacity: 1;
                                }
                            }
                            .inputs-row {
                                @include display-flex();
                                .wpcf7-form-control-wrap {
                                    margin-right: 10px;
                                    &:last-child {
                                        margin-right: 0px;
                                    }
                                }
                            }
                            input.wpcf7-file {
                                overflow: hidden;
                            }
                            select {
                                height: 41px;
                            }
                            textarea {
                                resize: none;
                            }
                            .wpcf7-checkbox {
                                font-family: 'texgyreadventorregular';
                                font-size: 14px;
                                color: $azul_light;
                                .wpcf7-list-item {
                                    @include display-flex();
                                    margin-left: 0px;
                                    margin-bottom: 16px;
                                    &:last-child {
                                        margin-bottom: 0px;
                                    }
                                    input {
                                        width: auto;
                                    }
                                    .wpcf7-list-item-label {
                                        margin-left: 9px;
                                    }
                                }
                            }
                            .wpcf7-not-valid-tip {
                                font-size: 14px;
                                margin-top: 3px;
                            }
                            .check_cform_text {
                                font-family: 'texgyreadventorregular';
                                font-size: 14px;
                                color: $azul_light;
                                .wpcf7-acceptance {
                                    .wpcf7-list-item {
                                        margin: 0px;
                                        input {
                                            width: auto;
                                            height: auto;
                                            margin-right: 5px;
                                        }
                                    }
                                }
                                a {
                                    color: $azul_light;
                                    text-decoration: underline;
                                }
                            }
                            .button-submit {
                                @include display-flex();
                                @include flex-direction(column);
                                @include align-items(flex-end);
                                .wpcf7-submit {
                                    font-family: 'texgyreadventorregular';
                                    background: $amarillo;
                                    color: $azul_light;
                                    width: 140px;
                                    max-width: 100%;
                                    border: none;
                                    padding: 7px 5px 10px 5px;
                                    font-size: 18px;
                                    margin-top: 10px;
                                    &:hover {
                                        cursor: pointer;
                                    }
                                }
                            }
                            .wpcf7-response-output {
                                margin-top: 15px;
                                margin-right: 0px;
                                margin-left: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}