.page-template-template-gracias {
    .site-content {
        margin-bottom: 0px;
    }
}

.template-gracias {
    .container-gracias {
        margin-top: 25px;
        .cta-back-title-general-gracias {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-gracias {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                h1 {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-info-gracias {
            margin-top: 20px;
            .texto-gracias {
                font-family: 'ralewaylight';
                color: $azul_light;
                text-align: center;
                margin-bottom: 25px;
                @media (min-width: 992px) {
                    max-width: 800px;
                    width: 100%;
                    margin: 0px auto 25px;
                }
                h3 {
                    font-size: 20px;
                    line-height: 27px;
                    margin-bottom: 0px;
                }
            }
            .imagen-mobile {
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .container-bg-gracias {
                @media (max-width: 1023px) {
                    background-image: none !important;
                }
                @media (min-width: 992px) {
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    margin-left: -15px;
                    margin-right: -15px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    height: 500px;
                }
                .cont-texto-gracias {
                    margin: 15px 0px 30px;
                    @media (min-width: 992px) {
                        max-width: 800px;
                        width: 100%;
                        margin: 0px auto;
                        padding: 25px;
                        border: 1px solid $azul_light;
                        background-color: #fff;
                    }
                    .texto {
                        .item {
                            margin-bottom: 15px;
                            @media (min-width: 992px) {
                                margin-bottom: 20px;
                            }
                            &:last-child {
                                @media (min-width: 992px) {
                                    margin-bottom: 0px;
                                }
                            }
                            h1 {
                                font-family: 'tex_gyre_adventorbold';
                                font-size: 27px;
                                line-height: 33px;
                                margin-bottom: 0px;
                                @media (min-width: 768px) {
                                    font-size: 32px;
                                    line-height: 45px;
                                }
                            }
                            h2 {
                                font-family: 'texgyreadventorregular';
                                font-size: 20px;
                                line-height: 26px;
                                margin-bottom: 0px;
                                @media (min-width: 768px) {
                                    line-height: 22px;
                                    line-height: 28px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}