.template-incompany {
    .container-incompany {
        margin-top: 25px;
        .cta-back-title-general-incompany {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-incompany {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-info-incompany {
            margin-top: 20px;
            @media (min-width: 992px) {
                max-width: 800px;
                width: 100%;
                margin: 0px auto;
            }
            .item-info {
                font-family: 'ralewaylight';
                color: $gris;
                text-align: justify;
                margin-bottom: 20px;
                @media (min-width: 768px) {
                    margin-bottom: 30px;
                }
                h3 {
                    font-family: 'texgyreadventorregular';
                    color: $azul;
                    font-size: 19px;
                    line-height: 25px;
                    margin-bottom: 20px;
                }
                a {
                    color: $gris;
                }
                &.imagen-portada {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                &.ctas-revista-cursos {
                    @media (min-width: 768px) {
                        @include display-flex();
                        @include justify-content(center);
                    }
                    a {
                        display: block;
                        font-family: 'texgyreadventorregular';
                        text-decoration: none;
                        text-align: center;
                        font-size: 16px;
                        line-height: 17px;
                        background-color: $amarillo;
                        color: $azul_light;
                        padding: 12px 15px 14px;
                        margin-bottom: 10px;
                        @media (min-width: 768px) {
                            margin-bottom: 0px;
                            min-width: 200px;
                            max-width: 100%;
                            margin-right: 25px;
                        }
                        &:hover {
                            background-color: $azul;
                            color: $amarillo;
                        }
                        &:last-child {
                            margin-bottom: 0px;
                            @media (min-width: 768px) {
                                margin-right: 0px;
                            }
                        }
                    }
                }
                ul {
                    margin: 0px;
                    padding: 0px;
                    text-indent: -11px;
                    margin-left: 21px;
                    li {
                        list-style: none;
                        color: $gris;
                        margin-bottom: 20px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        i {
                            color: $amarillo;
                            margin-right: 12px;
                        }
                        span {
                            font-weight: 800;
                        }
                        p {
                            text-indent: 0px;
                            margin-left: 0px;
                            margin-top: 10px;
                            &:last-child {
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
                img {
                    width: 100%;
                    height: auto;
                }
                &.fases-proceso-formativo {
                    .imagen-fases {
                        margin-top: 15px;
                        text-align: center;
                        @media (min-width: 768px) {
                            margin-top: 35px;
                        }
                        img {
                            @media (min-width: 480px) {
                                max-width: 250px;
                                width: 100%;
                            }
                        }
                    }
                }
                &.nuestros-niveles {
                    .imagen-niveles {
                        margin-top: 10px;
                        @media (min-width: 768px) {
                            margin-top: 35px;
                        }
                    }
                }
                &.formacion-bonificable {
                    .imagen-tripartita {
                        margin-bottom: 25px;
                        text-align: center;
                        img {
                            @media (min-width: 768px) {
                                max-width: 350px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}