.template-recepcion {
    .container-recepcion {
        margin-top: 25px;
        .cta-back-title-general-recepcion {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
        }
        .container-general-info-recepcion {
            margin-top: 20px;
            @media (min-width: 992px) {
                max-width: 1000px;
                width: 100%;
                margin: 0px auto;
            }
            .container-formulario {
                margin-bottom: 60px;
                &:last-child {
                    margin-bottom: 0px;
                }
                .titulo {
                    text-align: center;
                    margin-bottom: 34px;
                    @media (min-width: 768px) {
                        margin-top: 30px;
                    }
                    @media (min-width: 1200px) {
                        margin-bottom: 60px;
                    }
                    h2 {
                        font-family: 'texgyreadventorregular';
                        color: $gris;
                        font-size: 35px;
                        line-height: 37px;
                        margin-bottom: 0px;
                        @include display-flex();
                        @include justify-content(center);
                        @include align-items(center);
                        i {
                            color: $amarillo;
                            font-size: 27px;
                            margin-right: 7px;
                        }
                    }
                }
                .formulario {
                    margin: 30px 0px;
                    @media (min-width: 992px) {
                        max-width: 600px;
                        width: 100%;
                        margin: 30px auto 30px;
                    }
                    @media (min-width: 1200px) {
                        max-width: 500px;
                    }
                    .wpcf7 {
                        font-family: 'ralewaylight';
                        input,
                        select,
                        textarea {
                            width: 100%;
                            display: block;
                            padding: 9px;
                            border: 1px solid #ced4da;
                            border-radius: 4px;
                            font-size: 14px;
                            color: $gris;
                            background: #fff;
                            &::-webkit-input-placeholder {
                                color: $gris;
                                opacity: 1;
                            }
                            &:-moz-placeholder {
                                color: $gris;
                                opacity: 1;
                            }
                            &::-moz-placeholder {
                                color: $gris;
                                opacity: 1;
                            }
                            &:-ms-input-placeholder {
                                color: $gris;
                                opacity: 1;
                            }
                        }
                        .inputs-row {
                            @include display-flex();
                            .wpcf7-form-control-wrap {
                                margin-right: 10px;
                                &:last-child {
                                    margin-right: 0px;
                                }
                            }
                        }
                        input.wpcf7-file {
                            overflow: hidden;
                        }
                        select {
                            height: 41px;
                        }
                        textarea {
                            resize: none;
                        }
                        .wpcf7-checkbox {
                            font-family: 'texgyreadventorregular';
                            font-size: 14px;
                            color: $azul_light;
                            .wpcf7-list-item {
                                @include display-flex();
                                margin-left: 0px;
                                margin-bottom: 16px;
                                &:last-child {
                                    margin-bottom: 0px;
                                }
                                input {
                                    width: auto;
                                }
                                .wpcf7-list-item-label {
                                    margin-left: 9px;
                                }
                            }
                        }
                        .wpcf7-not-valid-tip {
                            font-size: 14px;
                            margin-top: 3px;
                        }
                        .check_cform_text {
                            font-family: 'texgyreadventorregular';
                            font-size: 14px;
                            color: $azul_light;
                            .wpcf7-acceptance {
                                .wpcf7-list-item {
                                    margin: 0px;
                                    input {
                                        width: auto;
                                        height: auto;
                                        margin-right: 5px;
                                    }
                                }
                            }
                            a {
                                color: $azul_light;
                                text-decoration: underline;
                            }
                        }
                        .button-submit {
                            @include display-flex();
                            @include flex-direction(column);
                            @include align-items(flex-end);
                            .wpcf7-submit {
                                font-family: 'texgyreadventorregular';
                                background: $amarillo;
                                color: $azul_light;
                                width: 140px;
                                max-width: 100%;
                                border: none;
                                padding: 7px 5px 10px 5px;
                                font-size: 18px;
                                margin-top: 10px;
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                        .wpcf7-response-output {
                            margin-top: 15px;
                            margin-right: 0px;
                            margin-left: 0px;
                        }
                    }
                }
            }
        }
    }
}