.template-videos {
    .container-videos {
        margin-top: 25px;
        .cta-back-title-general-videos {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-videos {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-info-videos {
            margin-top: 20px;
            .container-channel-youtube {
                .cont-channel-youtube {
                    .title {
                        margin-bottom: 20px;
                        @media (min-width: 768px) {
                            margin-bottom: 25px;
                        }
                        h2 {
                            font-family: 'texgyreadventorregular';
                            color: $azul;
                            font-size: 22px;
                            line-height: 27px;
                            text-align: center;
                            margin-bottom: 0px;
                            i {
                                color: $amarillo;
                                font-size: 21px;
                                margin-right: 7px;
                            }
                        }
                    }
                    .yotu-wrapper-player {
                        margin-bottom: 40px;
                    }
                    .yotu-videos {
                        margin-bottom: 60px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                    }
                    .yotu-video-title {
                        font-family: 'texgyreadventorregular' !important;
                        color: $azul !important;
                        font-weight: 500 !important;
                    }
                    .yotu-video-description {
                        font-family: 'ralewaylight';
                        color: $gris;
                        text-align: justify;
                    }
                    .yotu-pagination-more {
                        font-family: 'texgyreadventorregular';
                        font-size: 15px !important;
                        line-height: 16px !important;
                        padding: 9px 20px 11px !important;
                    }
                }
            }
        }
    }
}