.template-revistas {
    .container-revistas {
        margin-top: 25px;
        .cta-back-title-general-revistas {
            .cta-back-pagina {
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0px 9px;
                    display: inline-block;
                }
                a {
                    border: 1px solid $azul_light;
                    text-decoration: none;
                    color: $gris;
                    font-family: 'texgyreadventorregular';
                    font-size: 15px;
                    padding: 4px 13px 6px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        margin-right: 8px;
                        font-size: 25px;
                    }
                    &:hover {
                        background-color: $azul;
                        color: #fff;
                    }
                }
            }
            .title-revistas {
                text-align: center;
                margin-bottom: 34px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
                .main-title {
                    font-family: 'texgyreadventorregular';
                    color: $gris;
                    font-size: 35px;
                    line-height: 37px;
                    margin-bottom: 0px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                }
            }
        }
        .container-general-info-revistas {
            margin-top: 20px;
            @media (min-width: 992px) {
                max-width: 800px;
                width: 100%;
                margin: 0px auto;
            }
            @media (min-width: 1200px) {
                max-width: 1100px;
            }
            .container-revistas {
                @media (min-width: 768px) {
                    @include display-flex();
                    @include flex-wrap(wrap);
                }
                .cont-revista {
                    @include display-flex();
                    @include justify-content(center);
                    @media (min-width: 768px) {
                        @include justify-content(flex-start);
                        flex: 1 0 50%;
                    }
                    @media (min-width: 1200px) {
                        flex: 1 0 25%;
                    }
                    .revista {
                        max-width: 290px;
                        width: 100%;
                        margin-bottom: 30px;
                        @media (min-width: 768px) {
                            max-width: 369px;
                            padding: 0px 9px;
                        }
                        @media (min-width: 992px) {
                            max-width: 400px;
                        }
                        @media (min-width: 1200px) {
                            max-width: 275px;
                        }
                        .imagen-bg {
                            background-size: contain;
                            background-position: center bottom;
                            background-repeat: no-repeat;
                            border: 1px solid $azul_light;
                            box-shadow: 0 0 15px #D7D7D7;
                            height: 290px;
                            @media (min-width: 768px) {
                                height: 351px;
                            }
                            @media (min-width: 992px) {
                                height: 382px;
                            }
                            @media (min-width: 1200px) {
                                height: 257px;
                            }
                        }
                        .titulo {
                            * {
                                font-family: 'ralewaylight';
                                color: $azul_light;
                                font-size: 25px;
                                margin: 15px 0px;
                            }
                        }
                        a {
                            text-decoration: none;
                            font-family: 'texgyreadventorregular';
                            color: $amarillo;
                            font-size: 17px;
                            i {
                                margin-right: 7px;
                            }
                        }
                    }
                }
            }
        }
    }
}