.template-idiomas-extranjero-slider {
    .container-idiomas-extranjero {
        .container-slider {
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: 40px;
            @media (min-width: 1200px) {
                margin-bottom: 60px;
            }
        }
        .container-general-info-idiomas-extranjero {
            margin-bottom: 20px;
            @media (min-width: 1200px) {
                max-width: 1150px;
                margin: 0px auto;
            }
            .container-general-destinos {
                &.niños {
                    margin-bottom: 40px;
                    @media (min-width: 1200px) {
                        margin-bottom: 0px;
                    }
                }
                @media (min-width: 480px) {
                    max-width: 350px;
                    width: 100%;
                    margin: 0px auto 40px;
                }
                @media (min-width: 768px) {
                    max-width: 650px;
                }
                @media (min-width: 1200px) {
                    max-width: 100%;
                    margin: 0px;
                }
                .main-title {
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    margin-bottom: 35px;
                    i {
                        color: $amarillo;
                        font-size: 27px;
                        margin-right: 7px;
                    }
                    .title {
                        * {
                            font-family: 'texgyreadventorregular';
                            color: $gris;
                            font-size: 30px;
                            line-height: 32px;
                            margin-bottom: 0px;
                        }
                    }
                }
                .item-destino {
                    box-shadow: 0 0 15px #d7d7d7;
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    @media (min-width: 768px) {
                        @include display-flex();
                    }
                    .imagen {
                        @media (min-width: 768px) {
                            width: 50%;
                        }
                        a {
                            display: block;
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                    .info {
                        padding: 15px;
                        @media (min-width: 768px) {
                            width: 50%;
                        }
                        a {
                            display: block;
                            text-decoration: none;
                            .titulo {
                                font-family: 'texgyreadventorregular';
                                color: $azul;
                                font-size: 29px;
                                line-height: 29px;
                                margin-bottom: 15px;
                            }
                        }
                        .duration-availability-wrap {
                            margin-bottom: 15px;
                            .d-a-info {
                                font-family: 'ralewaylight';
                                font-size: 16px;
                                color: $gris;
                                margin-bottom: 5px;
                                i {
                                    color: $amarillo;
                                    margin-right: 7px;
                                }
                                &:last-child {
                                    margin-bottom: 0px;
                                }
                            }
                        }
                        .content-text {
                            font-family: 'ralewaylight';
                            text-align: justify;
                            font-size: 16px;
                            color: $gris;
                            margin-bottom: 15px;
                        }
                        .price {
                            @include display-flex();
                            @include flex-direction(column);
                            @include align-items(center);
                            font-family: 'ralewaylight';
                            font-size: 16px;
                            line-height: 16px;
                            margin-bottom: 15px;
                            span {
                                margin-bottom: 10px;
                                &:last-child {
                                    margin-bottom: 0px;
                                }
                            }
                            .money {
                                font-weight: bold;
                                font-size: 22px;
                                line-height: 22px;
                            }
                        }
                        .cta-details {
                            margin-top: 30px;
                            a {
                                display: block;
                                width: 100%;
                                font-family: 'texgyreadventorregular';
                                text-decoration: none;
                                text-align: center;
                                font-size: 16px;
                                line-height: 17px;
                                background-color: $amarillo;
                                color: $azul_light;
                                padding: 12px 0px 14px;
                                &:hover {
                                    background-color: $azul;
                                    color: $amarillo;
                                }
                            }
                        }
                    }
                }
            }
            .texto-disclaimer-destinos {
                * {
                    margin: 25px 0px;
                    font-family: 'texgyreadventorregular';
                    color: $azul;
                    font-size: 19px;
                }
            }
            .texto-igic {
                * {
                    margin-top: 25px;
                    margin-bottom: 0px;
                    font-family: 'ralewaylight';
                    font-style: italic;
                    font-size: 17px;
                }
            }
        }
    }
}