.page-template-template-landing-promocion-campana {
    .container-newsletter {
        display: none;
        @media (min-width: 1200px) {
            display: block;
        }
    }
}

// Página Landing Cursos Extranjero
.page-id-3811 {
    .container-general-info-landing-promocion-campana {
        .item-info.lista-cursos-promo {
            .info-cursos {
                ul {
                    li {
                        @media (min-width: 992px) {
                            flex: 1 0 25% !important;
                            max-width: 295px !important;
                            width: 100% !important;
                            margin-bottom: 15px !important;
                        }
                        @media (min-width: 1200px) {
                            max-width: 355px !important;
                        }
                        img {
                            border-radius: 400px;
                            max-width: 230px;
                            margin: 0px auto 10px;
                        }
                    }
                }
            }
        }
    }
}

.template-landing-promocion-campana {
    .container-landing-promocion-campana {
        margin-top: 25px;
        .container-general-info-landing-promocion-campana {
            margin-left: -15px;
            margin-right: -15px;
            @media (min-width: 768px) {
                margin-left: 0px;
                margin-right: 0px;
            }
            .imagen-portada-mobile-tablet {
                margin-top: 25px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .form-contact {
                margin-top: 13px;
                padding: 15px;
                background-color: $azul_turquesa;
                border-radius: 25px;
                @media (min-width: 768px) {
                    max-width: 500px;
                    width: 100%;
                    margin: 13px auto 0px;
                }
                @media (min-width: 1200px) {
                    margin: 0px;
                    max-width: 420px;
                    box-shadow: 3px 6px 4px #D7D7D7;
                }
                .telefono-header-form {
                    display: block;
                    text-decoration: none;
                    font-family: 'ralewaylight';
                    color: #fff;
                    font-size: 28px;
                    margin-bottom: 15px;
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    @media (min-width: 480px) {
                        font-size: 32px;
                    }
                    @media (min-width: 1200px) {
                        font-size: 30px;
                        line-height: 33px;
                    }
                    i {
                        margin-right: 7px;
                        font-size: 30px;
                        color: $amarillo;
                        @media (min-width: 480px) {
                            font-size: 37px;
                        }
                        @media (min-width: 1200px) {
                            font-size: 30px;
                        }
                    }
                }
                form {
                    font-family: 'ralewaylight';
                    .inputs-row {
                        @media (min-width: 1200px) {
                            @include display-flex();
                        }
                        input {
                            @media (min-width: 1200px) {
                                flex: 1;
                                display: block;
                                margin-right: 10px;
                                margin-bottom: 10px;
                            }
                            &:last-child {
                                @media (min-width: 1200px) {
                                    margin-right: 0px;
                                }
                            }
                        }
                    }
                    input,
                    select,
                    textarea {
                        width: 100%;
                        display: block;
                        padding: 9px;
                        border: 1px solid #ced4da;
                        border-radius: 4px;
                        font-size: 14px;
                        color: $gris;
                        background: #fff;
                        margin-bottom: 16px;
                        @media (min-width: 1200px) {
                            margin-bottom: 10px;
                            padding: 6px 9px;
                        }
                        &::-webkit-input-placeholder {
                            color: $gris;
                            opacity: 1;
                        }
                        &:-moz-placeholder {
                            color: $gris;
                            opacity: 1;
                        }
                        &::-moz-placeholder {
                            color: $gris;
                            opacity: 1;
                        }
                        &:-ms-input-placeholder {
                            color: $gris;
                            opacity: 1;
                        }
                    }
                    select {
                        height: 41px;
                    }
                    textarea {
                        resize: none;
                        @media (min-width: 1200px) {
                            height: 55px;
                        }
                    }
                    .check_cform_text {
                        font-family: 'texgyreadventorregular';
                        font-size: 14px;
                        color: #fff;
                        @include display-flex();
                        @include align-items(center);
                        margin-bottom: 7px;
                        input {
                            width: auto;
                            height: auto;
                            margin-right: 7px;
                            margin-bottom: 0px;
                        }
                        label {
                            margin-bottom: 0px;
                        }
                        a {
                            color: #fff;
                            text-decoration: underline;
                        }
                    }
                    .button-submit {
                        @include display-flex();
                        @include flex-direction(column);
                        @include align-items(flex-end);
                        margin-top: 30px;
                        @media (min-width: 1200px) {
                            margin-top: 15px;
                            margin-bottom: -20px;
                        }
                        a {
                            font-family: 'tex_gyre_adventorbold';
                            width: 100%;
                            font-size: 20px;
                            line-height: 20px;
                            padding: 10px 9px 13px 10px;
                            border-radius: 0px;
                            border-radius: 0px;
                            text-align: center;
                            text-decoration: none;
                            @media (min-width: 1200px) {
                                font-size: 23px;
                                line-height: 23px;
                                padding: 8px 9px 11px 9px;
                            }
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .container-form-contact-bg {
                @media (min-width: 768px) {
                    @include display-flex();
                    @include justify-content(center);
                }
                @media (min-width: 1200px) {
                    margin-top: 30px;
                }
                &.imagen-bg {
                    @media (min-width: 1200px) {
                        position: relative;
                        @include justify-content(flex-end);
                        background-size: cover;
                        background-repeat: no-repeat;
                        border-top-right-radius: 25px;
                        border-bottom-right-radius: 25px;
                    }
                }
            }
            .title-principal-promocion {
                margin-top: 13px;
                margin-bottom: 20px;
                @media (min-width: 768px) {
                    text-align: center;
                }
                @media (min-width: 1200px) {
                    margin-top: 23px;
                }
                .titulo {
                    * {
                        font-family: 'tex_gyre_adventorbold';
                        font-size: 29px;
                        line-height: 36px;
                        margin-bottom: 0px;
                        @media (min-width: 768px) {
                            font-size: 37px;
                            line-height: 55px;
                        }
                        @media (min-width: 1200px) {
                            font-size: 39px;
                            line-height: 52px;
                        }
                    }
                }
            }
            .cont-info-promocion {
                margin-top: 13px;
                @media (min-width: 1200px) {
                    margin-top: 35px;
                }
                .info-promocion {
                    font-family: 'ralewaylight';
                    color: $gris;
                    .titulo {
                        * {
                            font-family: 'texgyreadventorregular';
                            color: $azul;
                            font-size: 20px;
                            line-height: 25px;
                            text-align: center;
                            margin-bottom: 20px;
                            @media (min-width: 768px) {
                                text-align: left;
                                font-size: 25px;
                                line-height: 30px;
                                margin-bottom: 25px;
                            }
                        }
                    }
                }
            }
            .item-info {
                margin-top: 13px;
                @media (min-width: 768px) {
                    margin-top: 25px;
                }
                &.video-promo {
                    .video {
                        margin-top: 25px;
                        @media (min-width: 768px) {
                            margin: 35px 0px;
                        }
                        @media (min-width: 1200px) {
                            @include display-flex();
                            @include justify-content(center);
                        }
                        iframe {
                            width: 100%;
                            height: auto;
                            @media (min-width: 480px) {
                                height: 250px;
                            }
                            @media (min-width: 768px) {
                                width: 550px;
                                height: 300px;
                            }
                            @media (min-width: 1200px) {
                                width: 650px;
                            }
                        }
                    }
                }
                &.que-dicen-nosotros {
                    .videos {
                        @media (min-width: 768px) {
                            @include display-flex();
                        }
                        iframe {
                            width: 100%;
                            height: auto;
                            margin-bottom: 15px;
                            @media (min-width: 480px) {
                                height: 250px;
                            }
                            @media (min-width: 768px) {
                                margin-bottom: 0px;
                                margin-right: 15px;
                            }
                            @media (min-width: 1200px) {
                                height: 300px;
                            }
                            &:last-child {
                                margin-bottom: 0px;
                                @media (min-width: 768px) {
                                    margin-right: 0px;
                                }
                            }
                        }
                    }
                }
                &.cont-mapas {
                    .mapas {
                        @media (min-width: 992px) {
                            @include display-flex();
                            @include justify-content(center);
                        }
                        .row {
                            margin-bottom: 15px;
                            padding: 0px 15px;
                            @media (min-width: 992px) {
                                margin-right: 0px;
                                margin-left: 0px;
                            }
                            &:first-child {
                                @media (min-width: 992px) {
                                    margin-left: -15px;
                                }
                            }
                            &:last-child {
                                margin-bottom: 0px;
                                @media (min-width: 992px) {
                                    margin-right: -15px;
                                }
                            }
                            iframe {
                                width: 100%;
                                height: auto;
                                @media (min-width: 480px) {
                                    height: 250px;
                                }
                                @media (min-width: 768px) {
                                    height: 350px;
                                }
                                @media (min-width: 992px) {
                                    height: 300px;
                                }
                                @media (min-width: 1200px) {
                                    width: 350px;
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
                .titulo {
                    * {
                        font-family: 'texgyreadventorregular';
                        color: $azul;
                        font-size: 20px;
                        line-height: 25px;
                        text-align: center;
                        margin-bottom: 20px;
                        @media (min-width: 768px) {
                            text-align: left;
                            font-size: 25px;
                            line-height: 30px;
                            margin-bottom: 25px;
                        }
                    }
                }
                .texto {
                    * {
                        font-family: 'ralewaylight';
                        color: $gris;
                    }
                }
                ul {
                    margin: 0px;
                    margin-left: 0px;
                    padding: 0px;
                    text-indent: -11px;
                    margin-left: 21px;
                    li {
                        font-family: 'ralewaylight';
                        list-style: none;
                        color: $gris;
                        margin-bottom: 20px;
                        i {
                            color: $amarillo;
                            margin-right: 12px;
                        }
                    }
                }
                &.lista-cursos-promo {
                    .titulo-cursos {
                        margin-bottom: 20px;
                        @media (min-width: 768px) {
                            margin-bottom: 25px;
                        }
                        * {
                            font-family: 'texgyreadventorregular';
                            color: $azul;
                            font-size: 20px;
                            line-height: 25px;
                            text-align: center;
                            @media (min-width: 768px) {
                                text-align: left;
                                font-size: 25px;
                                line-height: 30px;
                            }
                        }
                    }
                    .info-cursos {
                        ul {
                            margin: 0px;
                            padding: 0px;
                            text-indent: 0px;
                            @media (min-width: 992px) {
                                @include display-flex();
                                @include flex-wrap(wrap);
                            }
                            li {
                                margin-bottom: 35px;
                                &:last-child {
                                    margin-bottom: 0px;
                                }
                                @media (min-width: 992px) {
                                    margin-bottom: 0px;
                                    margin-right: 15px;
                                    flex: 1 0 20%;
                                    &:last-child {
                                        margin-right: 0px;
                                    }
                                }
                                img {
                                    width: 100%;
                                    height: auto;
                                    margin-bottom: 10px;
                                    display: block;
                                }
                                .titulo-texto {
                                    a {
                                        text-decoration: none;
                                        .title {
                                            margin-bottom: 10px;
                                            * {
                                                font-family: 'texgyreadventorregular';
                                                font-size: 19px;
                                                line-height: 25px;
                                                color: $azul;
                                            }
                                        }
                                    }
                                    .text {
                                        margin-bottom: 20px;
                                        * {
                                            font-family: 'ralewaylight';
                                            color: $gris;
                                        }
                                    }
                                }
                                .cta-curso {
                                    display: block;
                                    font-family: 'texgyreadventorregular';
                                    text-decoration: none;
                                    text-align: center;
                                    font-size: 16px;
                                    line-height: 17px;
                                    background-color: $amarillo;
                                    color: $azul_light;
                                    padding: 12px 0 14px;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                }
                &.imagenes-partners {
                    text-align: center;
                    padding-bottom: 15px;
                    .titulo {
                        * {
                            font-family: 'tex_gyre_adventorbold';
                            color: $azul;
                            text-align: center;
                            font-size: 23px;
                            margin-bottom: 25px;
                            @media (min-width: 768px) {
                                font-size: 25px;
                            }
                        }
                    }
                    .partners {
                        ul {
                            @include display-flex();
                            @include flex-direction(column);
                            @include align-items(center);
                            margin: 0px;
                            @media (min-width: 768px) {
                                @include display-flex();
                                @include flex-direction(row);
                                @include justify-content(space-around);
                            }
                            li {
                                @media (min-width: 768px) {
                                    margin-bottom: 0px;
                                }
                                img {
                                    max-width: 170px;
                                    width: 100%;
                                    height: auto;
                                    margin-bottom: 25px;
                                    @media (min-width: 768px) {
                                        max-width: 150px;
                                        margin-bottom: 0px;
                                    }
                                    @media (min-width: 1200px) {
                                        max-width: 180px;
                                    }
                                    &:last-child {
                                        margin-bottom: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}